{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets 
        'bundles/mxbbackend/assets/global/plugins/datatables/datatables.min.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/datatables.min.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2.min.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2-bootstrap.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/clockface/css/clockface.css'
        'bundles/mxbbackend/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
        'bundles/mxbbackend/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-summernote/summernote.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2.min.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2-bootstrap.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
        filter='cssrewrite'  
        debug=false
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <!-- do not move it into stylesheet block -->
    <link href="{{ asset('bundles/mxbbackend/assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts 
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/clockface/js/clockface.js'
        '@AdminBundle/Resources/public/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/lib/markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-summernote/summernote.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/jquery.mockjax.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-select2.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' 
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'      
        '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/typeahead/typeahead.bundle.min.js'   
        '@AdminBundle/Resources/public/js/admin_agent_list.js'
        debug=false
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{% block pageTitle %}
    <h1>List Agents</h1>
{% endblock %}
{% block breadcrumb %}    
    <li> <span class="active">List Agents</span> </li>
{% endblock %}
{% block content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption"> <span class="caption-subject font-dark sbold uppercase">List Agents</span> </div>
        </div>
        <div class="portlet-body">
            <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                <div class="row show-grid mb-grid">
                    <div class="col-lg-4 col-md-8">
                        <div id="sample_1_filter">
                            <div class="input-icon right"> <i class="icon-magnifier"></i>
                                <input type="text" class="form-control on-suggestion" placeholder="Search Agent Name / Code" id="table-search-data">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-4">
                        <div class="text-right" id="sample_1_length">
                            <label>
                                <select id="table-length" name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline">
                                    <option value="10">10</option>
                                    <option value="15">20</option>
                                    <option value="20">50</option>
                                </select>
                                entries</label>
                        </div>
                    </div>
                </div>
                <input type='hidden' value="{{ path('admin_agent_edit',{'id':'id'})}}" id='edit-path' />
                <input type='hidden' value="{{ path('admin_sub_agent',{'id':'id'})}}" id='sub-agent-path' />
                <input type="hidden" value="{{ path(updateStatusUrl) }}" id="ajaxUrlUpdateStatus" />
                <input type="hidden" value="{{ path(viewDoctorUrl) }}" id="view-doctor-url" />
                <input type="hidden" value="{{ path('admin_agent_autocomplete') }}" id="auto-complete-url" />
                
                <div class="row show-grid module-filter">
                    <div class="col-lg-9">
                        <div class="mod-filter">
                            <span class="filter-label">Filter by Status:</span>
                            <div class="entry filter-changing primary">
                                <a href="javascript:void(0);" class="active" data='2' >All</a>
                                <a href="javascript:void(0);" data='1'>Active</a>
                                <a href="javascript:void(0);" data='0'>Deactivated</a>
                                <a href="javascript:void(0);"data='-1'>Deleted</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 text-right">
                        <a href="{{ path('admin_agent_create')}}" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-sm btn-icon-right">Add Main Agent <i class="fa fa-plus"></i> </a>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info" style="width: 1562px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" data-colum-sort="agentCode" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0"aria-sort="ascending" aria-label=" Dr Code : activate to sort column descending">Code</th>
                                <th class="sorting" tabindex="0" data-colum-sort="agentName" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="1" aria-label=" Dr Name : activate to sort column ascending">Main Agent</th>
                                <th class="sorting" tabindex="0" data-colum-sort="registerDate" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="2" aria-label=" Register Date : activate to sort column ascending">Register Date</th>
                                <th class="sorting" tabindex="0" data-colum-sort="emailAddress"  aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="3" aria-label=" Email Address : activate to sort column ascending">Email Address</th>
                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="4" aria-label=" Status : activate to sort column ascending"> Status </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody id="table-body-agent">

                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="dataTables_info" role="status" aria-live="polite" id="list-tables-info"></div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;" id="list-table-pagin">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-delete-agent" class="modal fade modal-new" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
            <h4 class="modal-title txt-red">Deleting agent</h4>
        </div>
        <div class="modal-body">
          
            
        </div>
    </div>
    <div id="modal-view-doctors" class="modal fade modal-new" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
            <h4 class="modal-title">View Doctors</h4>
        </div>
        <div class="modal-body">    

        </div>
    </div>
{% endblock %}