{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets 
        'bundles/mxbbackend/assets/global/plugins/datatables/datatables.min.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/datatables.min.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2.min.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2-bootstrap.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/clockface/css/clockface.css'
        'bundles/mxbbackend/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
        'bundles/mxbbackend/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-summernote/summernote.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2.min.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2-bootstrap.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
        filter='cssrewrite'  
        debug=false
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <!-- do not move it into stylesheet block -->
    <link href="{{ asset('bundles/mxbbackend/assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts 
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/clockface/js/clockface.js'
        '@AdminBundle/Resources/public/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/lib/markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-summernote/summernote.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/jquery.mockjax.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-select2.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' 
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'      
        '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/typeahead/typeahead.bundle.min.js'
        debug=false
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
     
      '@AdminBundle/Resources/public/js/admin_delivery_list.js'
      
      debug=true

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block pageTitle %}
    <h1>List Delivery Partner</h1>
{% endblock %}
{% block breadcrumb %}
    <li> <span class="active">List Delivery Partner </span> </li>
{% endblock %}
{% block content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption"> <span class="caption-subject font-dark sbold uppercase">List Delivery Partner</span> </div>
        </div>
        <div class="portlet-body">
            <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                <div class="row show-grid mb-grid">
                    <div class="col-lg-4 col-md-8">
                        <div id="sample_1_filter">
                            <div class="input-icon right"> <i class="icon-magnifier"></i>
                                <input type="text" class="form-control on-suggestion" placeholder="Search Agent Name / Code" id="table-search-data">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-4">
                        <div class="text-right" id="sample_1_length">
                            <label>
                                <select id="table-length" name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline">
                                    <option value="10">10</option>
                                    <option value="15">20</option>
                                    <option value="20">50</option>
                                </select>
                                entries</label>
                        </div>
                    </div>
                </div>
                <input type='hidden' value="{{ path('admin_delivery_partner_edit',{'id':'id'})}}" id='edit-path' />
                <input type="hidden" value="{{ path('admin_delivery_autocomplete') }}" id="auto-complete-url" />
                <input type="hidden" value="{{ path('admin_delivery_update') }}" id="update-delivery-url" />
                <div class="row show-grid module-filter">                  
                    <div class="col-md-12 text-right align-right">
                        <a href="#modal-view-logs" data-toggle="modal" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-icon-right btn-sm">View Log</a>
                        <a href="{{  path('admin_delivery_partner_create') }}" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-icon-right btn-sm ml-10">Add Delivery Partner <i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="sample_1" role="grid" aria-describedby="sample_1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending" data-colum-sort="name">Delivery Partners</th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending" data-colum-sort="registerDate">Register Date</th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending" data-colum-sort="email">Email Address</th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending" data-colum-sort="phone">Phone</th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending" data-colum-sort="country">Country</th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending" data-colum-sort="state">State</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body-delivery">

                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="dataTables_info" role="status" aria-live="polite" id="list-tables-info"></div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;" id="list-table-pagin">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-update-patient-change" class="modal fade modal-new" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
            <h4 class="modal-title">Shipping Rate Charged To Patient Change</h4>
        </div>
        <div class="modal-body text-center">
            <form class="form-horizontal">
                <div class="price-changing-square">
                    <div>
                        Old Value: <span class="value" id="origin-value">18.00%</span>          
                    </div>
                    <i class="fa fa-long-arrow-right"></i>
                    <div class="new-value">
                        New Value: <span class="value" id="update-value">20.00%</span>          
                    </div>
                </div>

                <div class="row col-md-offset-2">
                    <div class="form-group col-md col-md-9">
                        <label for="inputEmail1" class="col-md-6 control-label">Price change will take effect on <span class="required" aria-required="true"> * </span>:</label>
                        <div class="col-md-5">
                            <div class="datepicker-wrap">
                                <div class="wrap">
                                    <div class="input-group date date-picker bs-datetime">
                                        <input type="text" size="16" required="required" class="form-control" id="date-effect">
                                        <span class="input-group-addon">
                                            <button class="btn default date-set mr-0" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>This will recalculate Shipping Rate Charged to Patient for all locations.</p>
                <p>Proceed?</p>

                <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase btn-danger btn-sm" id="btn-cancel-update" >No</a>
                <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm ml-15" id="btn-submit-update">Yes</a>
            </form>
        </div>
    </div>
    <div id="modal-view-logs" class="modal fade modal-new" tabindex="-1" data-width="900">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
            <h4 class="modal-title">View Logs</h4>
        </div>
        <div class="modal-body">    
            <div class="portlet box white portlet-scroller">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject uppercase sbold">Berjaya Pharmacy Product List Logs</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-sm btn-icon-right">Print<i class="fa fa-print"></i></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height:280px" data-always-visible="1" data-rail-visible="1" data-rail-color="white" data-handle-color="green">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light_">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>User</th>
                                        <th>Changes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>20 Jul 17</td>
                                        <td>Nancy Ide</td>
                                        <td>GMEDES Overseas Percentage updated<br />Old Value: 10%<br />New Value: 11%<br />Effective Date: 25 Jul 17</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="page-breadcrumb breadcrumb">
                <li>Home <i class="fa fa-circle"></i></li>
                <li>List Pharmacies <i class="fa fa-circle"></i></li>
                <li>Berjaya Pharmacy <i class="fa fa-circle"></i></li>
                <li><span class="active">Product List</span></li>
            </ul>

            <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm" data-dismiss="modal">Close</a>
        </div>
    </div>

    <div id="modal-delete" class="modal fade modal-new" tabindex="-1" data-width="760" data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
            <h4 class="modal-title">Delete</h4>
        </div>
        <div class="modal-body">    
            <div class="text-center mt-20">
                <i class="fa fa-exclamation-circle icon-check-lg txt-red"></i>
                <p>Are you sure you want to delete?</p>

                <div>
                    <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm ml-10" data-dismiss="modal">Cancel</a>
                    <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase red btn-sm ml-10" data-dismiss="modal">Delete</a>
                </div>      
            </div>
        </div>
    </div>

{% endblock %}