{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets 
        'bundles/mxbbackend/assets/global/plugins/datatables/datatables.min.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-select/css/bootstrap-select.css'
        'bundles/mxbbackend/assets/global/plugins/jquery-multi-select/css/multi-select.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2.min.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2-bootstrap.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/icheck/skins/all.css'
        'bundles/mxbbackend/assets/global/plugins/clockface/css/clockface.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css'  
    filter='cssrewrite'  
    debug=false
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <!-- do not move it into stylesheet block -->
    <link href="{{ asset('bundles/mxbbackend/assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  
    
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js'
        '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/clockface/js/clockface.js'
        '@AdminBundle/Resources/public/assets/global/plugins/icheck/icheck.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'   
        '@AdminBundle/Resources/public/assets/pages/scripts/components-select2.min.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-multi-select.min.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/form-icheck.min.js'  
        '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
        '@AdminBundle/Resources/public/js/admin_doctor_edit.js'
        debug=false
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block pageTitle %}
    <h1>Register Doctor</h1>
{% endblock %}
{% block breadcrumb %}
    {% if doctorId > 0 %}
    <li> <a href="{{ path('admin_doctor_list')}}">List Doctors</a><i class="fa fa-circle"></i> </li>
    {% endif %}
    <li> <span class="active">{{ title}}</span> </li>
    {% endblock %}
    {% block content %}
    <div class="portlet light bordered" id="form_wizard_1" enctype="multipart/form-data"  >
        <div class="portlet-body form">
            <div class="mt-element-step">
                <div class="row step-line">
                    <div class="col-md-4 mt-step-col first done">
                        <div class="mt-step-number bg-white font-grey">1</div>
                        <div class="mt-step-title uppercase font-grey">Doctor's <br> Information</div>
                    </div>
                    <div class="col-md-4 mt-step-col second">
                        <div class="mt-step-number bg-white font-grey">2</div>
                        <div class="mt-step-title uppercase font-grey">Doctor's <br> Clinic</div>
                    </div>
                    <div class="col-md-4 mt-step-col last">
                        <div class="mt-step-number bg-white font-grey">3</div>
                        <div class="mt-step-title uppercase font-grey">Confirm</div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="{{path(ajaxDependent)}}" id="ajaxUrlDependent" />
            <input type="hidden" value="{{doctorId}}" id="current-doctor-id"/>
            <input type="hidden" value="{{doctorGst}}" id="current-gst-status"/>
            <input type="hidden" value="{{app.request.baseUrl}}/" id="asset-url"/>
            <input type="hidden" value="{{path(successUrl)}}" id="success-url"/>
            <form class="form-horizontal" action="#" id="admin-register-doctor-form-step1" method="POST" enctype="multipart/form-data">
                <div class="form-wizard">
                    <div class="form-body">
                        <div class="form-content">
                            {#<div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>#}
                            <h4 class="block">Doctor's Personal Infomation</h4>
                            <div class="form-group mb-grid">
                                <div class="col-md-4">


                                    <label>{{ form.firstName.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.firstName,{'attr':{'class':'form-control'} })}}

                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.lastName.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.lastName,{'attr':{'class':'form-control'} })}}         
                                </div>
                                <div class="col-md-4">                                    
                                    <div class="mt-radio-inline mt-radio-inline-grid">
                                        <label>{{ form.gender.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                        {{ form_widget(form.gender)}}  
                                    </div>

                                </div>
                            </div>
                            <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.email.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.email,{'attr':{'class':'form-control'} })}} 
                                </div> 
                                <div class="col-md-8">
                                    <label>{{ form.phoneLocation.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-float">
                                                <div class="col-md-7">
                                                    {{form_widget(form.phoneLocation,{'attr':{'class':'form-control select2'} }) }}

                                                </div>
                                                <div class="col-md-5">
                                                    {{form_widget(form.phoneArea,{'attr':{'class':'form-control'}}) }}
                                                </div> 
                                            </div>
                                            <div class="phone-error-notice">
                                               
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                            {{ form_widget(form.phone, {'attr':{'class':'form-control'}})}}                                            
                                        </div>   
                                    </div> 

                                </div>     
                            </div>
                            <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.localMedicalLicence.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.localMedicalLicence,{'attr':{'class':'form-control'} })}} 
                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.localMedicalCountry.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{form_widget(form.localMedicalCountry,{'attr':{'class':'form-control select2'}}) }}

                                </div> 
                                <div class="col-md-4">
                                    <label>{{ form.localMedicalDate.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    <div class="input-group date date-picker bs-datetime">
                                        {{form_widget(form.localMedicalDate,{'attr':{'class':'form-control '}}) }}
                                        <span class="input-group-addon">
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>                                
                            </div>  
                            <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.localIdPassport.vars.label }}</label>
                                    {{form_widget(form.localIdPassport,{'attr':{'class':'form-control '}}) }}
                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.localIdPassportCountry.vars.label }}</label>
                                    {{form_widget(form.localIdPassportCountry,{'attr':{'class':'form-control select2','name': 'location'}}) }}
                                </div> 
                                <div class="col-md-4">
                                    <label>{{ form.localIdPassportDate.vars.label }}</label>
                                    <div class="input-group date date-picker bs-datetime">
                                        {{form_widget(form.localIdPassportDate,{'attr':{'class':'form-control '}}) }}
                                        <span class="input-group-addon">
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>                                
                            </div> 

                            <h4 class="block">Doctor's Agent</h4>

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label>Agent ID <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.agentId,{'attr':{'class':'form-control select2'}}) }}                                   
                                </div>
                            </div>

                            <h4 class="block">Doctor's Specialization </h4>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6"><label>Select <span class="required" aria-required="true"> * </span></label></div>
                                        <div class="col-md-4 col-xs-6"><label>Doctor's Specialization </label></div>
                                    </div>
                                    <div class="multi-select-col-4">
                                        {{ form_widget(form.specialization,{'attr':{'class': 'multi-select'} }) }}                                       
                                    </div>
                                </div>    
                            </div>

                            <h4 class="block">Bank Details</h4>

                            <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.bankName.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.bankName,{'attr':{'class':'form-control'} }) }}
                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.bankBranch.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.bankBranch,{'attr':{'class':'form-control'} }) }}
                                </div>        
                                <div class="col-md-4">
                                    <label>{{ form.bankCountryIssue.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.bankCountryIssue,{'attr':{'class':'form-control select2'} }) }}

                                </div>                        
                            </div>

                            <div class="form-group mb-grid">
                                <div class="col-md-4">                         
                                    <label>{{ form.accountName.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.accountName,{'attr':{'class':'form-control'} }) }}
                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.accountNumber.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.accountNumber,{'attr':{'class':'form-control'} }) }}
                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.bankSwiftCode.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.bankSwiftCode,{'attr':{'class':'form-control'} }) }}
                                </div> 
                            </div>    

                            <h4 class="block">Doctor's Fee</h4>

                            <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.prescription.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.prescription,{'attr':{'class':'form-control'} }) }}
                                </div>
                                <div class="col-md-4">
                                
                                </div> 
                            </div>

                            <div class="form-group">
                                <div class="col-md-4"> 
                                    <h4 class="block">Profile Photo</h4>
                                    <div class="fileinput fileinput-new" data-provides="fileinput" id='doctor-profile' >
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            {% if doctor.profilePhotoUrl |length %}
                                                <img src="{{ asset(doctor.profilePhotoUrl) }}&{{ date().timestamp }}" alt="" /> 
                                                <input type="hidden" id="doctor-profile-input" value="{{ asset(doctor.profilePhotoUrl) }}" />
                                            {% else %}
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""  /> 
                                                <input type="hidden" id="doctor-profile-input" value="" />
                                            {% endif %}
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn btn-outline blue btn-ahalf-circle btn-sm text-uppercase btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                                {{ form_widget(form.profile,{'attr':{'value': asset(doctor.profilePhotoUrl) } }) }}
                                            </span>
                                            <a href="javascript:;" class="btn btn-outline red btn-ahalf-circle btn-sm text-uppercase fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"> 
                                    <h4 class="block">E-Signature <span class="required" aria-required="true"> * </span></h4>
                                    <div class="fileinput fileinput-new" data-provides="fileinput" id='doctor-signature'>
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            {% if doctor.signatureUrl |length %}
                                                <img src="{{ asset(doctor.signatureUrl) }}&{{ date().timestamp }}" alt=""  /> 
                                            {% else %}
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> 
                                            {% endif %}
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn btn-outline blue btn-ahalf-circle btn-sm text-uppercase btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                                {{ form_widget(form.signature,{'attr':{'value': asset(doctor.signatureUrl)} })}}                                                
                                            </span>
                                            <a href="javascript:;" class="btn btn-outline red btn-ahalf-circle btn-sm text-uppercase fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <a  href="javascript:void(0);" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-icon-right btn-sm button-submit" id='btnvalidateInfo' > Continue
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <form class="form-horizontal" action="#" id="admin-register-doctor-form-step2" method="POST" style="display: none">
                <div class="form-wizard">
                    <div class="form-body">
                        <div class="form-content">
                            <div class='addition-content'>
                                <div class="form-content form-repeat">                                 
                                    <h4 class="block">Main Doctor's Clinic Details</h4>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicName.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                            {{ form_widget(form.mainClinicName,{'attr':{'class':'form-control'} })}}

                                        </div>
                                    </div>
                                    <div class="form-group mb-grid">
                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicEmail.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                            {{ form_widget(form.mainClinicEmail,{'attr':{'class':'form-control'} })}}
                                        </div> 
                                        <div class="col-md-8">
                                            <label>{{ form.mainClinicTelephoneLocation.vars.label }}<span class="required" aria-required="true"> * </span></label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-float">
                                                        <div class="col-md-7">
                                                            {{ form_widget(form.mainClinicTelephoneLocation,{'attr':{'class':'form-control select2'} } ) }}

                                                        </div>
                                                        <div class="col-md-5">
                                                            {{ form_widget(form.mainClinicAreacode,{'attr':{'class':'form-control phone-area'} } ) }}
                                                        </div>                                                       
                                                    </div>
                                                    <div class="phone-error-notice">
                                               
                                                    </div>
                                                </div> 
                                                <div class="col-md-6">
                                                    {{ form_widget(form.mainClinicPhone,{'attr':{'class':'form-control phone-num'} } ) }}
                                                </div>   
                                            </div> 

                                        </div>     
                                    </div>
                                    <div class="form-group mb-grid">
                                        <div class="col-md-4">
                                            <label>{{form.mainClinicAddressLine1.vars.label}} <span class="required" aria-required="true"> * </span></label>
                                            {{ form_widget(form.mainClinicAddressLine1,{'attr':{'class':'form-control'} } ) }}
                                        </div>
                                        <div class="col-md-4">
                                            <label>{{form.mainClinicAddressLine2.vars.label}}</label>
                                            {{ form_widget(form.mainClinicAddressLine2,{'attr':{'class':'form-control'} } ) }}
                                        </div> 
                                        <div class="col-md-4">
                                            <label>{{form.mainClinicAddressLine3.vars.label}}</label>
                                            {{ form_widget(form.mainClinicAddressLine3,{'attr':{'class':'form-control'} } ) }}
                                        </div>                                
                                    </div>  
                                    <div class="form-group mb-grid">
                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicCountry.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                            {{ form_widget(form.mainClinicCountry,{'attr':{'class':'form-control select2'} } ) }}

                                        </div> 
                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicState.vars.label }}</label>
                                            {{ form_widget(form.mainClinicState,{'attr':{'class':'form-control select2'} } ) }}

                                        </div>

                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicCity.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                            {{ form_widget(form.mainClinicCity,{'attr':{'class':'form-control select2'} } ) }}
                                        </div>
                                    </div>

                                    <div class="form-group mb-grid">
                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicZipCode.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                            {{ form_widget(form.mainClinicZipCode,{'attr':{'class':'form-control'} })}}
                                        </div>
                                    </div>  

                                    <h4 class="block">GST Settings</h4>

                                    <div class="form-group mb-grid">
                                        <div class="col-md-4">
                                            <label>{{ form.gstSetting.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                            <div class="mt-radio-inline mt-radio-inline-grid">
                                                {{ form_widget(form.gstSetting)}}
                                            </div>
                                        </div> 
                                      
                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicGstNo.vars.label }}</label>
                                            {{ form_widget(form.mainClinicGstNo,{'attr':{'class':'form-control'} })}} 
                                        </div>
                                        <div class="col-md-4">
                                            <label>{{ form.mainClinicGstDate.vars.label }}

                                            </label>
                                            <div class="input-group date date-picker  bs-datetime" id="date-picker-gst">
                                                {{ form_widget(form.mainClinicGstDate,{'attr':{'class':'form-control'} }) }}
                                               <span class="input-group-addon">
                                                    <button class="btn default date-set" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div> 
                                         
                                    </div>

                                    <h4 class="block">Clinic Logo <span class="text-normal">(for E-prescription)</span> </h4>

                                    <div class="form-group">
                                        <div class="col-md-4"> 
                                            <label>Upload Clinic logo <span class="required" aria-required="true"> * </span></label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput" id='main-clinic-logo'>
                                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                            {% if clinic.businessLogoUrl|length %}
                                                                <img src="{{ asset(clinic.businessLogoUrl)}}&{{ date().timestamp }}" alt="" />
                                                            {% else %}
                                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                            {% endif %}
                                                            </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                        <div>
                                                            <span class="btn btn-outline blue btn-ahalf-circle btn-sm text-uppercase btn-file">
                                                                <span class="fileinput-new"> Select image </span>
                                                                <span class="fileinput-exists"> Change </span>
                                                                {{ form_widget(form.mainClinicLogo)}}
                                                            </span>
                                                            <a href="javascript:;" class="btn btn-outline red btn-ahalf-circle btn-sm text-uppercase fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>  
                                        </div>
                                    </div> 
                                </div>
                            </div>

                            <div class="form-actions form-link">
                                <a href="" class="btn btn-link link-special" id='btnAddClinicBlock'>Click here if you want to add another clinic</a>
                            </div> 
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="admin-register-doctor.html" class="btn grey-dark btn-ahalf-circle text-uppercase btn-sm button-back" id="btnBackToStep1"> Back
                                        </a>
                                        <a href="admin-register-doctor-step3.html" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-icon-right btn-sm button-submit" id="btnvalidateClinic"> Continue
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="admin-register-doctor-form-step3" style="display: none">
                <div class="form-content">
                </div>
                <div class="form-actions">						
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0);" class="btn grey-dark btn-ahalf-circle text-uppercase btn-sm button-back" id="btnBackToStep2"> Back
                            </a>
                            <a href="javascript:void(0);" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-icon-right btn-sm button-submit" id="btSubmitData" > Submit
                                <i class="fa fa-check"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}


