{% extends '@Admin/layout.html.twig' %}
{% block javascripts %}
  {{ parent () }}
  {% javascripts  
    '@AdminBundle/Resources/public/assets/global/plugins/ladda/spin.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/ladda/ladda.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/ui-buttons-spinners.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/table-datatables-managed.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/clockface/js/clockface.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
    '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/components-select2.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'    
    '@AdminBundle/Resources/public/js/jvalidate.js'    
     debug=false
  %}  
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}


{% endblock %}

{% block header %}
    {{ helper.title('h1','Create a Pharmacy User') }}
{% endblock %}
{% block breadcrumb %}
    {{ helper.breadcrumb({'#home': 'Home', '#pharmacy':'List Pharmacies', '#create': 'Create a Pharmacy User'}) }}
{% endblock %}
{% block pagetitle %}
    {{ helper.title('span','BERJAYA PHARMACY',{'class': "caption-subject font-dark sbold uppercase"}) }}
{% endblock %}
{% block content %}      
      {{ helper.startForm(form,{'attr':{'id': "pharmacy-form",'role' : 'form', 'class': 'form-horizontal form-wizard'}}) }}         
      {{ helper.displayFlash("Your form validation is successful!", false) }}    
      {{ helper.title('h4','User Information') }}
      {{ helper.rowElement({1: helper.inputField(form.firstName), 2: helper.inputField(form.lastName), 3 : helper.inputField(form.userRole) })}}
      
   
      <div class="form-actions">
        <a href="javascript:void(0);" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm">Cancel</a>
        <button type="submit" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm ml-10">Save</button>
      </div>
               
      {{ helper.endForm(form) }} 
{% endblock %}