{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets 
        'bundles/mxbbackend/assets/global/plugins/datatables/datatables.min.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    filter='cssrewrite'  
    debug=false
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <!-- do not move it into stylesheet block -->
    <link href="{{ asset('bundles/mxbbackend/assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts 
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' 
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
        '@AdminBundle/Resources/public/js/admin_pharmacy_list.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block pageTitle %}
    <h1>List Pharmacies</h1>
{% endblock %}
{% block breadcrumb %}
    <li> <a href="index.html">Home</a> <i class="fa fa-circle"></i> </li>
    <li> <span class="active">List Pharmacies</span> </li>
{% endblock %}
{% block content %} 
    <!-- Begin: life time stats -->
    <div class="portlet light">             

        <div class="portlet-body">
            <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                <div class="row show-grid mb-grid">
                    <div class="col-lg-4 col-md-8">
                        <div id="sample_1_filter">
                            <div class="input-icon right"> <i class="icon-magnifier"></i>
                                <input type="text" class="form-control" placeholder="Search Pharmacy" id="table-search-data">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-4">
                        <div class="text-right" id="sample_1_length">
                            <label>
                                <select id="table-length" name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline">
                                    <option value="10">10</option>
                                    <option value="15">20</option>
                                    <option value="20">50</option>
                                </select>
                                entries</label>
                        </div>
                    </div>
                </div>
                <input type='hidden' value="{{ path('pharmacy_products',{'id':'id'})}}" id='product-list-path' />
                <input type='hidden' value="{{ path('admin_pharmacy_edit',{'id':'id'})}}" id='edit-path' />
                <div class="row show-grid module-filter">                  
                  <div class="col-lg-12 text-right">
                        <a href="{{path('admin_pharmacy_create')}}" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-sm btn-icon-right">Add Pharmacy <i class="fa fa-plus"></i> </a>
                   </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info" style="width: 1562px;">
                        <tr role="row">
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes">
                                    <span></span>
                                </label>
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Pharmacy Code</th>
                            <th>Pharmacy Name</th>
                            <th>No. of Products</th>
                            <th>Action</th>
                        </tr>
                        <tbody id="table-body-pharmacy">

                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="dataTables_info" id="list-tables-info" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;" id="list-table-pagin">

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}