{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets 
        'bundles/mxbbackend/assets/global/plugins/datatables/datatables.min.css'
        'bundles/mxbbackend/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'        
        'bundles/mxbbackend/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' 
        'bundles/mxbbackend/assets/global/plugins/clockface/css/clockface.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css'
        'bundles/mxbbackend/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
        'bundles/mxbbackend/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css' 
        'bundles/mxbbackend/assets/global/plugins/bootstrap-summernote/summernote.css' 
        'bundles/mxbbackend/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2.min.css'
        'bundles/mxbbackend/assets/global/plugins/select2/css/select2-bootstrap.min.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/mxbbackend/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    filter='cssrewrite'  
    debug=false
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <!-- do not move it into stylesheet block -->
    <link href="{{ asset('bundles/mxbbackend/assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts      
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/clockface/js/clockface.js'
        '@AdminBundle/Resources/public/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/lib/markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-summernote/summernote.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'      
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'   
        '@AdminBundle/Resources/public/assets/global/plugins/jquery.mockjax.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js'      
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js'      
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'      
        '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-select2.min.js'       
        '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
        '@AdminBundle/Resources/public/js/admin_sub_agent_edit.js'
        debug=false
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


{% block pageTitle %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block breadcrumb %}
    <li> <a href="{{ path('admin_agent')}}">List Agents</a> <i class="fa fa-circle"></i> </li>
    <li> <a href="{{ path('admin_sub_agent',{'id':agentId})}}">List Sub Agents</a> <i class="fa fa-circle"></i> </li>
    <li> <span class="active">{{ title }}</span> </li>
{% endblock %}
{% block content %}
    <div class="portlet light bordered" id="form_wizard_1" enctype="multipart/form-data"  >
        <div class="portlet-body form">
    
            <input type="hidden" value="{{path(ajaxDependent)}}" id="ajaxUrlDependent" />
         
            <input type="hidden" value="{{app.request.getBaseURL()}}/" id="asset-url"/>
            <input type="hidden" value="{{path(successUrl)}}" id="success-url"/>
            <input type="hidden" value="{{ agentId }}" id="main-agent-id" />
            <input type="hidden" value="{{ agent.id }}" id="current-agent-id" />
            <form class="form-horizontal" action="#" id="admin-register-agent" method="POST" enctype="multipart/form-data">
                <div class="form-wizard">
                    <div class="form-body">
                        <div class="form-content">
                            {#<div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>#}
                            <h4 class="block">Personal Information</h4>
                            <div class="form-group mb-grid">
                                <div class="col-md-4">


                                    <label>{{ form.firstName.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.firstName,{'attr':{'class':'form-control'} })}}

                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.lastName.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.lastName,{'attr':{'class':'form-control'} })}}         
                                </div>
                                <div class="col-md-4">                                    
                                    <div class="mt-radio-inline mt-radio-inline-grid">
                                        <label>{{ form.gender.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                        {{ form_widget(form.gender)}}  
                                    </div>

                                </div>
                            </div>
                            <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.email.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.email,{'attr':{'class':'form-control'} })}} 
                                </div> 
                                <div class="col-md-8">
                                    <label>{{ form.phoneLocation.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-float">
                                                <div class="col-md-7">
                                                    {{form_widget(form.phoneLocation,{'attr':{'class':'form-control select2'} }) }}

                                                </div>
                                                <div class="col-md-5">
                                                    {{form_widget(form.phoneArea,{'attr':{'class':'form-control'}}) }}
                                                </div> 
                                            </div>
                                            <div class="phone-error-notice">
                                               
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                            {{ form_widget(form.phone, {'attr':{'class':'form-control'}})}}                                            
                                        </div>   
                                    </div> 

                                </div>     
                            </div>
                            <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.addressLine1.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.addressLine1,{'attr':{'class':'form-control'} })}} 
                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.addressLine2.vars.label }}</label>
                                    {{form_widget(form.addressLine2,{'attr':{'class':'form-control '}}) }}

                                </div> 
                                <div class="col-md-4">
                                    <label>{{ form.addressLine3.vars.label }}</label>                              
                                    {{form_widget(form.addressLine3,{'attr':{'class':'form-control '}}) }}
                                    
                                </div>                                
                            </div>  
                             <div class="form-group mb-grid">
                                 <div class="col-md-4">
                                     <label>{{ form.country.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                     {{ form_widget(form.country,{'attr':{'class':'form-control select2'} } ) }}

                                 </div> 
                                 <div class="col-md-4">
                                     <label>{{ form.state.vars.label }} </label>
                                     {{ form_widget(form.state,{'attr':{'class':'form-control select2'} } ) }}

                                 </div>

                                 <div class="col-md-4">
                                     <label>{{ form.city.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                     {{ form_widget(form.city,{'attr':{'class':'form-control select2'} } ) }}
                                 </div>
                            </div>

                       

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label>{{ form.zipCode.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{ form_widget(form.zipCode,{'attr':{'class':'form-control '}}) }}                                   
                                </div>
                            </div>

                            <h4 class="block">Identification</h4>

                           <div class="form-group mb-grid">
                                <div class="col-md-4">
                                    <label>{{ form.localIdPassport.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{form_widget(form.localIdPassport,{'attr':{'class':'form-control '}}) }}
                                </div>
                                <div class="col-md-4">
                                    <label>{{ form.localIdPassportCountry.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    {{form_widget(form.localIdPassportCountry,{'attr':{'class':'form-control select2','name': 'location'}}) }}
                                </div> 
                                <div class="col-md-4">
                                    <label>{{ form.localIdPassportDate.vars.label }} <span class="required" aria-required="true"> * </span></label>
                                    <div class="input-group date date-picker bs-datetime">
                                        {{form_widget(form.localIdPassportDate,{'attr':{'class':'form-control '}}) }}
                                        <span class="input-group-addon">
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>                                
                            </div> 

                            <div class="form-group">
                                <div class="col-md-4"> 
                                    <h4 class="block">Profile Photo <span class="required" aria-required="true"> * </span></h4>
                                    <div class="fileinput fileinput-new" data-provides="fileinput" id='doctor-profile' >
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            {% if agent.profilePhotoUrl |length %}
                                                <img src="{{ asset(agent.profilePhotoUrl) }}&{{ date().timestamp }}" alt="" />                
                                            {% else %}
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""  /> 
                                               
                                            {% endif %}
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn btn-outline blue btn-ahalf-circle btn-sm text-uppercase btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                                {{ form_widget(form.logo,{'attr':{'value': asset(agent.profilePhotoUrl) } }) }}
                                            </span>
                                            <a href="javascript:;" class="btn btn-outline red btn-ahalf-circle btn-sm text-uppercase fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>    
                        </div>
                       <div class="form-actions">
                          <div class="row">
                            <div class="col-md-12">
                              <a href="{{path('admin_sub_agent',{'id': agentId})}}" class="btn grey-dark btn-ahalf-circle text-uppercase btn-sm button-back">Cancel</a>
                              <a href="javascript:void(0);" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-icon-right btn-sm button-submit" id="admin-register-agent-submit">Save</a>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
                {{ form_rest(form) }}
            </form>
         
          
        </div>
    </div>


{% endblock %}


