.ml-0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mt-0 {
  margin-top: 0 !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.pl-0 {
  padding-left: 0 !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pr-0 {
  padding-right: 0 !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.span10p {
  width: 10%; }

.span20p {
  width: 20%; }

.span30p {
  width: 30%; }

.span40p {
  width: 40%; }

.span50p {
  width: 50%; }

.span60p {
  width: 60%; }

.span70p {
  width: 70%; }

.span80p {
  width: 70%; }

.span90p {
  width: 90%; }

.span100p {
  width: 100%; }

.span180 {
  width: 180px; }

.span190 {
  width: 190px; }

.span200 {
  width: 200px; }

.txt-default {
  color: #333; }

.txt-green-new {
  color: #249987; }

.grey-light {
  color: #f7f7f7; }

.txt-grey-555 {
  color: #555; }

.txt-grey-9d9 {
  color: #9d9d9d; }

.txt-red {
  color: #ed6b75 !important; }

.underline {
  text-decoration: underline; }

.nowrap {
  white-space: nowrap; }

.bg-grey-light {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  padding: 20px;
  margin-top: 30px; }

.rowItemBtn:focus {
  text-decoration: none; }

.rowItemBtn:hover {
  text-decoration: underline !important; }

.align-right {
  text-align: right !important; }

.align-left {
  text-align: left !important; }

.valign-top {
  vertical-align: top !important; }

.valign-middle {
  vertical-align: middle !important; }

.valign-bottom {
  vertical-align: bottom !important; }

.show-grid {
  margin-bottom: 15px; }

span.error {
  color: #e02222;
  font-size: 12px; }

input.error,
.select2-selection--single.error {
  border: 1px solid #e02222 !important; }

label.required {
  color: #333 !important;
  font-size: 14px !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important; }

.readonly-normal {
  background-color: transparent !important; }

.editable-click {
  border-bottom-style: solid !important; }

.mod-filter .filter-label,
.mod-filter .entry {
  display: inline-block;
  vertical-align: middle; }

.mod-filter .filter-label {
  margin-right: 10px;
  color: #555; }

.filter-changing {
  font-weight: 600; }
  .filter-changing a {
    color: #9d9d9d !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    vertical-align: top; }
  .filter-changing .active {
    background-color: #94A0B2;
    color: #fff !important; }
  .filter-changing.primary .active {
    background-color: #337ab7; }

.js-edit {
  position: relative;
  padding-right: 35px; }
  .js-edit .form-control {
    width: 60px;
    height: 26px;
    padding: 6px; }
  .js-edit a {
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: underline; }
  .js-edit .action {
    position: absolute;
    right: 0;
    top: 0; }
  .js-edit .cancel, .js-edit .save {
    display: none; }

.table-edit thead th {
  padding-right: 40px !important; }

.table-edit thead th:first-child {
  padding-right: 0 !important; }

.table-edit thead .js-edit .action {
  right: -30px; }

.table .row-content .empty {
  border-right: 0 !important; }

.table .row-content td {
  text-align: left !important; }

.price-changing-wrap {
  margin-left: 65px; }

.price-changing {
  padding: 15px 0; }
  .price-changing p {
    margin-bottom: 10px; }
  .price-changing strong {
    font-weight: 600; }

.datepicker-wrap .wrap, .datepicker-wrap a {
  display: inline-block;
  vertical-align: bottom; }

.datepicker-wrap a {
  margin-left: 15px !important;
  margin-right: 0 !important; }

.modal-new .modal-title {
  font-weight: bold;
  text-transform: uppercase; }

.modal-new .close {
  height: 12px;
  width: 12px;
  background: none !important;
  color: #4f4f4f;
  font-size: 16px;
  text-indent: 0;
  opacity: 1;
  filter: alpha(opacity=100); }

.modal-new .modal-header {
  padding-left: 35px; }

.modal-new .modal-body {
  padding: 25px 35px; }

.modal-new .table-hover > tbody > tr:nth-child(odd),
.modal-new .table-hover > tbody > tr:nth-child(odd) > td {
  background: #f9fafb !important; }

.modal-new-tab .modal-header {
  padding-bottom: 0; }

.modal-new-tab .tabbable-line {
  border-bottom: 0 !important;
  margin-bottom: 0 !important; }

.modal-acknowledgement .modal-header {
  border-bottom: 0; }

.modal-acknowledgement .modal-body {
  padding-top: 0; }

.portlet.box.white {
  border: 1px solid #e7ecf1; }
  .portlet.box.white > .portlet-title {
    border-bottom: 1px solid #e7ecf1;
    padding: 0 6px 0 17px; }
  .portlet.box.white .caption {
    font-size: 14px; }

.portlet-scroller .portlet-body {
  padding: 0 !important; }

.price-changing-square {
  margin-bottom: 25px;
  /*.value{display: block;font-size: 28px;padding-top: 4px;}*/ }
  .price-changing-square > div, .price-changing-square .fa {
    display: inline-block;
    vertical-align: middle; }
  .price-changing-square .fa {
    margin-left: 20px;
    margin-right: 20px;
    color: #999; }
  .price-changing-square > div {
    border: 1px solid #c4ccd9;
    color: #505050;
    font-weight: 600;
    width: 157px;
    padding-bottom: 10px;
    padding-top: 10px; }
  .price-changing-square .new-value {
    background-color: #249987;
    border-color: #249987;
    color: #fff; }

.tabbable-line.blue > .nav-tabs > li {
  font-weight: 600;
  text-transform: uppercase; }

.tabbable-line.blue > .nav-tabs > li > a {
  font-size: 13px;
  padding-bottom: 8px; }

.tabbable-line.blue > .nav-tabs > li.active {
  border-bottom: 4px solid #337ab7; }

.tabbable-line.blue > .nav-tabs > li.active a {
  color: #337ab7; }

.tabbable-line.blue > .nav-tabs > li:hover {
  border-bottom: 4px solid #3598dc; }

.mt-radio-inline-grid {
  padding-bottom: 7px; }
  .mt-radio-inline-grid .mt-radio {
    margin-bottom: 0; }

.status {
  color: #fff !important; }
  .status.danger {
    background-color: #ed6b75 !important; }
  .status.green {
    background-color: #249987 !important; }
  .status.default {
    background-color: #f3f3f3 !important;
    color: #333 !important; }
  .status.blue {
    background-color: #337ab7 !important; }

.table-hover > tbody > tr:hover .danger {
  background-color: #ed6b75 !important; }

.table-hover > tbody > tr:hover .green {
  background-color: #249987 !important; }

.table-hover > tbody > tr:hover .blue {
  background-color: #337ab7 !important; }

.file-input-new .input-large {
  padding-bottom: 25px; }

.file-input-new .btn-file {
  overflow: visible; }

.file-input-new span.error {
  position: absolute;
  left: -240px;
  bottom: -21px;
  color: #e73d4a;
  font-size: 12px; }

.file-input-new input[type=file] {
  overflow: hidden; }

.file-input-new .progress {
  position: absolute;
  left: 0;
  bottom: 12px;
  height: 13px;
  margin-bottom: 0;
  width: 240px; }

.file-input-new .progress-bar {
  font-size: 10px;
  line-height: 13px; }

.icon-check-lg {
  color: #249987;
  font-size: 52px;
  line-height: normal; }

.multi-select {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  margin-bottom: -10px;
  padding: 8px 10px; }
  .multi-select a {
    display: inline-block;
    margin-left: 10px; }

.update-info-detail {
  padding: 0; }
  .update-info-detail li {
    display: inline-block;
    font-weight: 600;
    padding-right: 20px;
    margin-bottom: 15px;
    vertical-align: top; }
  .update-info-detail .text {
    color: #555;
    font-weight: 400; }

.update-info-form {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  padding: 15px 35px 10px;
  margin-left: -35px;
  margin-right: -35px; }
  .update-info-form:last-child {
    border-bottom: 1px solid #e7ecf1;
    margin-bottom: 30px; }
  .update-info-form .mt-radio-inline {
    padding-top: 0;
    padding-bottom: 0; }

.bg-white {
  background-color: #fff; }

.modal-update-multi .modal-body {
  padding-right: 0;
  padding-left: 0; }

.slick-adapt-modal {
  max-height: 350px;
  overflow: hidden; }

.update-info-carousel .update-info-detail {
  padding: 15px 30px 0; }

.update-info-carousel .update-info-form-wrap {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  padding: 15px 30px 20px; }

.update-info-carousel .update-info-form {
  background-color: transparent;
  border-bottom: 0;
  border-top: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0; }

.update-info-carousel .slick-slide {
  border: 1px solid #e7ecf1;
  margin-right: 30px;
  outline: 0;
  opacity: 0.4; }

.update-info-carousel .slick-current {
  opacity: 1; }

.update-info-carousel .slick-prev {
  left: 90px; }

.update-info-carousel .slick-next {
  right: 120px; }

.update-info-carousel .slick-prev, .update-info-carousel .slick-next {
  bottom: -70px;
  top: auto;
  border: 1px solid #e7ecf1;
  color: #337ab7 !important;
  font-size: 16px;
  height: 33px;
  width: 43px; }

.update-info-carousel .slick-prev:before, .update-info-carousel .slick-next:before {
  color: #000;
  display: none; }

.update-info-carousel .slick-disabled {
  display: none !important; }

.slick-items {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px; }

.slimScrollDiv .scroller {
  padding: 0 15px 10px 10px; }

.slimScrollRail {
  background-color: #fbfbfb !important;
  border-left: 1px solid #e8e8e8 !important;
  width: 14px !important;
  opacity: 1 !important; }

.slimScrollBar {
  background-color: #c2c2c2 !important;
  margin-right: 2px !important;
  width: 8px !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important; }

.filter-form-inline .txt {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 5px; }

.irs-green-seagreen .irs-from, .irs-green-seagreen .irs-to, .irs-green-seagreen .irs-single, .irs-green-seagreen .irs-bar {
  background: #249987; }

.irs-green-seagreen .irs-from:after, .irs-green-seagreen .irs-to:after, .irs-green-seagreen .irs-single:after {
  border-top-color: #249987; }

.irs-green-seagreen .irs-slider {
  background: none !important; }

.irs-green-seagreen .irs-slider:after {
  content: '';
  background: #1a7063;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0; }

dl.list-item-transaction dt {
  width: 140px; }

.input-medium-wrapper .input-medium {
  width: 180px !important; }

.input-medium-wrapper .input-medium-wrap, .input-medium-wrapper .btn {
  display: inline-block;
  vertical-align: middle; }

.input-medium-wrapper .btn {
  margin-left: 10px; }

.form-margin-share .label {
  font-size: 11px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: inline-block;
  vertical-align: top; }

.form-margin-share .help-inline .text {
  display: inline-block;
  vertical-align: top; }

.form-margin-share .control-label-2lines {
  padding-top: 0;
  margin-top: -2px; }

.form-margin-share .btn-update-margin {
  margin-top: 15px;
  margin-left: 76px; }

.form-margin-share .date-picker {
  width: 145px; }

.rowItemBtnText .text {
  color: #249987;
  font-size: 11px;
  font-weight: 600;
  margin-right: 10px; }

.advanced-search-filter {
  border-top: 1px solid #eee;
  padding-top: 18px; }
  .advanced-search-filter .date-picker-item {
    position: relative; }
  .advanced-search-filter .form-control {
    padding-right: 28px; }
  .advanced-search-filter .input-daterange input {
    text-align: left; }
  .advanced-search-filter .input-daterange .fa {
    position: absolute;
    right: 11px;
    top: 10px;
    z-index: 3;
    color: #cdcdcd;
    font-size: 16px; }
  .advanced-search-filter .input-daterange .input-group-addon {
    background: transparent;
    border: 0;
    color: #bcbcbc; }
  .advanced-search-filter .form-inline .input-group-addon-label {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 5px; }

.sub-table > td {
  padding: 0 !important; }

.sub-table .table {
  margin-bottom: 0; }
  .sub-table .table th, .sub-table .table td {
    border-top: 0 !important; }

.sub-table .input-medium {
  width: 100px !important; }

.table-white > tbody > tr,
.table-white > tbody > tr:hover,
.table-white > tbody > tr:hover > td {
  background: transparent !important; }

.table-white > tbody > tr > td {
  border-top: 0 !important;
  background: transparent !important; }

.modal-new .table-white > tbody > tr > td
.modal-new .table-white > tbody > tr:hover > td,
.modal-new .table-white > tbody > tr:nth-child(odd),
.modal-new .table-white > tbody > tr:nth-child(odd) > td {
  background: transparent !important; }

.rx-transaction-info {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid #e7ecf1;
  padding-bottom: 10px;
  padding-top: 10px; }

.rx-transaction-table .table {
  margin-bottom: 30px; }
  .rx-transaction-table .table th {
    border-bottom: 1px solid #e7ecf1 !important; }
  .rx-transaction-table .table tfoot td {
    border-top: 1px solid #e7ecf1 !important; }

#select2-ProfileBundle_agent_city-results li[aria-disabled="true"] {
  display: none !important; }

.mod-highlights {
  margin-left: -5px;
  margin-right: -5px; }
  .mod-highlights .col-lg-3 {
    padding-left: 5px;
    padding-right: 5px; }

/* =============== Loading =============== */
.blink-loader {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }
  .blink-loader .load1 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -2px; }
  .blink-loader:hover img {
    opacity: 1 !important; }
  .blink-loader img {
    display: none; }
  .blink-loader .load1-wrap {
    display: block; }
  .blink-loader .loader,
  .blink-loader .loader:before,
  .blink-loader .loader:after {
    background: #fff;
    opacity: 0.9;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 6px;
    height: 16px; }
  .blink-loader .loader:before,
  .blink-loader .loader:after {
    position: absolute;
    top: 0;
    content: ''; }
  .blink-loader .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .blink-loader .loader {
    text-indent: -9999em;
    position: relative;
    font-size: 6px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .blink-loader .loader:after {
    left: 1.5em; }

.load1-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999; }

.load1 {
  display: none; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 10px; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 16px; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 10px; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 16px; } }

/* =============== END Loading =============== */
@media (min-width: 1200px) {
  .table-edit tbody .js-edit .action {
    display: none; }
  .table-edit tbody tr:hover .js-edit .action {
    display: block; } }

@media (max-width: 1170px) {
  .module-filter [class*="col-"] {
    margin-bottom: 10px; }
  .module-filter [class*="col-"]:last-of-type {
    margin-bottom: 0; }
  .price-changing-wrap {
    margin-left: 51px; }
  .mod-filter-range .col-md-5,
  .mod-filter-range col-md-7 {
    float: none;
    width: 100%; } }

@media (min-width: 992px) and (max-width: 1280px) {
  #reportrange2 {
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px; } }

@media (min-width: 992px) and (max-width: 1170px) {
  .profile-account > .col-md-3,
  .profile-account > .col-md-9 {
    float: none;
    width: 100%; } }

@media (min-width: 992px) {
  .mod-take-effect .col-md-5 {
    padding-left: 65px;
    padding-top: 0;
    margin-top: -3px; } }

@media (max-width: 991px) {
  .mb-grid [class*="col-"] {
    margin-bottom: 10px; }
  .mb-grid [class*="col-"]:last-of-type {
    margin-bottom: 0; }
  .mod-filter .filter-label {
    margin-bottom: 5px; }
  .module-filter .text-right {
    text-align: left !important; }
  .price-changing-square > div {
    width: 120px; }
  .tabbable-line > .nav-tabs > li > a {
    padding-left: 8px;
    padding-right: 8px; }
  .multi-select .pt-5 {
    padding-top: 0 !important; }
  .multi-select .text-right {
    text-align: left;
    padding-top: 10px; }
  .modal-new .modal-body {
    padding: 15px; }
  .update-info-carousel .slick-slide {
    margin-right: 0; }
  .update-info-carousel .slick-prev {
    left: 0; }
  .update-info-carousel .slick-next {
    right: 0; }
  .mt-radio-inline-grid {
    padding-bottom: 0; }
  .advanced_search .pull-left,
  .advanced_search .pull-right {
    float: none !important; }
  .advanced_search .pull-right {
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  .advanced-search-filter .form-inline .input-group-addon-label {
    margin-top: -15px; } }

@media (max-width: 360px) {
  #reportrange2 {
    display: block;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px; }
    #reportrange2 span {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 235px; } }

@media (max-width: 320px) {
  #reportrange2 span {
    max-width: 200px; } }
