/* here you can put your own css to customize and override the theme */
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  font-weight: 600; }

.align-center {
  text-align: center; }

.normal {
  font-weight: 400 !important; }

.page-header.navbar .page-logo {
  width: 316px; }
  .page-header.navbar .page-logo > a {
    position: relative; }
    .page-header.navbar .page-logo > a .logo-type {
      position: absolute;
      bottom: -5px;
      right: 10px;
      color: #777; }

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
  color: #418fc9; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px; }

.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.page-sidebar .page-sidebar-menu > li > a > .title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
  color: #9d9d9d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px; }

.page-sidebar .page-sidebar-menu .sub-menu li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
  color: #9d9d9d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px; }

.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
  color: #cbcaca;
  font-size: 16px; }

.page-sidebar .page-sidebar-menu > li > a > [class^=icon-],
.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > [class^=icon-],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
  position: absolute;
  top: 12px;
  left: 13px;
  margin-right: 0; }

.page-sidebar .page-sidebar-menu li > a > .arrow,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow {
  position: absolute;
  top: 9px;
  right: 13px; }

.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
  padding: 11px 40px;
  border-left: 3px solid transparent;
  color: #9d9d9d; }
  .page-sidebar .page-sidebar-menu > li > a:hover i,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover i {
    color: #418fc9; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-home,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-home {
    background-position: 0 -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-agent,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-agent {
    background-position: -20px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-doctor,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-doctor {
    background-position: -40px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-pharmacy,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-pharmacy {
    background-position: -60px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-delivery,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-delivery {
    background-position: -80px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-messages,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-messages {
    background-position: -120px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-payment,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-payment {
    background-position: -100px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-report,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-report {
    background-position: -140px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-customer,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-customer {
    background-position: -160px -20px; }
  .page-sidebar .page-sidebar-menu > li > a:hover > .icon-profile,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a:hover > .icon-profile {
    background-position: -180px -20px; }

.page-sidebar .page-sidebar-menu .sub-menu li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
  padding-left: 43px;
  padding-right: 13px; }

.page-sidebar .page-sidebar-menu .sub-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
  margin: 0; }

.page-sidebar .page-sidebar-menu .sub-menu.always-open,
.page-sidebar .page-sidebar-menu li.active > .sub-menu,
.page-sidebar .page-sidebar-menu li.open > .sub-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu.always-open,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > .sub-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.open > .sub-menu {
  background: #f2f6f9; }

.page-sidebar .page-sidebar-menu .sub-menu li,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li {
  margin-top: 0 !important;
  border-top: 1px solid #fff; }

.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
  margin-left: 0;
  padding-left: 40px; }

.page-sidebar .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a {
  color: #418fc9; }
  .page-sidebar .page-sidebar-menu > li.active.open > a i,
  .page-sidebar .page-sidebar-menu > li.active > a i,
  .page-sidebar .page-sidebar-menu > li.open > a i,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a i,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a i,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a i {
    color: #418fc9; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-home,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-home,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-home,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-home,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-home,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-home {
    background-position: 0 -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-agent,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-agent,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-agent,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-agent,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-agent,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-agent {
    background-position: -20px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-doctor,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-doctor,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-doctor,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-doctor,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-doctor,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-doctor {
    background-position: -40px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-pharmacy,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-pharmacy,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-pharmacy,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-pharmacy,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-pharmacy,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-pharmacy {
    background-position: -60px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-delivery,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-delivery,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-delivery,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-delivery,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-delivery,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-delivery {
    background-position: -80px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-messages,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-messages,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-messages,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-messages,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-messages,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-messages {
    background-position: -120px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-payment,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-payment,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-payment,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-payment,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-payment,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-payment {
    background-position: -100px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-report,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-report,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-report,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-report,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-report,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-report {
    background-position: -140px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-customer,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-customer,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-customer,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-customer,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-customer,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-customer {
    background-position: -160px -20px; }
  .page-sidebar .page-sidebar-menu > li.active.open > a > .icon-profile,
  .page-sidebar .page-sidebar-menu > li.active > a > .icon-profile,
  .page-sidebar .page-sidebar-menu > li.open > a > .icon-profile,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .icon-profile,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .icon-profile,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .icon-profile {
    background-position: -180px -20px; }

.page-sidebar .page-sidebar-menu > li.active.open > a > .title,
.page-sidebar .page-sidebar-menu > li.active > a > .title,
.page-sidebar .page-sidebar-menu > li.open > a > .title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .title {
  color: #418fc9; }

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li > a {
  padding-left: 53px; }

.page-sidebar .page-sidebar-menu .sub-menu a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu a {
  position: relative; }

.icon-home {
  background: url(../img/sprite.png) no-repeat 0 0;
  width: 18px !important;
  height: 18px; }
  .icon-home:before {
    display: none; }

.icon-agent {
  background: url(../img/sprite.png) no-repeat -20px 0;
  width: 18px !important;
  height: 18px; }

.icon-doctor {
  background: url(../img/sprite.png) no-repeat -40px 0;
  width: 18px !important;
  height: 18px; }

.icon-pharmacy {
  background: url(../img/sprite.png) no-repeat -60px 0;
  width: 18px !important;
  height: 18px; }

.icon-delivery {
  background: url(../img/sprite.png) no-repeat -80px 0;
  width: 18px !important;
  height: 18px; }

.icon-messages {
  background: url(../img/sprite.png) no-repeat -120px 0;
  width: 18px !important;
  height: 18px; }

.icon-payment {
  background: url(../img/sprite.png) no-repeat -100px 0;
  width: 18px !important;
  height: 18px; }

.icon-report {
  background: url(../img/sprite.png) no-repeat -140px 0;
  width: 18px !important;
  height: 18px; }

.icon-agent-sm {
  background: url(../img/sprite.png) no-repeat -20px -40px;
  width: 18px !important;
  height: 18px; }

.icon-doctor-sm {
  background: url(../img/sprite.png) no-repeat -40px -40px;
  width: 18px !important;
  height: 18px; }

.icon-customer {
  background: url(../img/sprite.png) no-repeat -160px 0;
  width: 18px !important;
  height: 18px; }

.icon-profile {
  background: url(../img/sprite.png) no-repeat -180px 0;
  width: 18px !important;
  height: 18px; }

.page-head .page-title > h1 {
  font-size: 18px;
  font-weight: 700;
  color: #777;
  text-transform: uppercase; }

.breadcrumb {
  color: #9d9d9d;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700; }
  .breadcrumb .active {
    color: #afafaf; }

.table .btn {
  margin-bottom: 3px; }
  .table .btn:last-child {
    margin-right: 0; }

.btn {
  font-weight: 600; }

.display-block {
  display: block; }

.form-wizard h4.block {
  font-size: 16px; }

.form-wizard .block {
  margin-top: 30px; }
  .form-wizard .block .text-normal {
    font-weight: 400;
    font-size: 14px; }
  .form-wizard .block:first-child {
    margin-top: 0;
    padding-top: 0; }

.unselected .portlet-title {
  opacity: 0.5; }

.portlet.light .form .form-link {
  background-color: #f7f7f7; }

.form .form-content {
  padding-bottom: 30px; }

.form .form-link {
  padding: 0;
  border-top: 0;
  background-color: #f7f7f7; }

.form .form-actions .btn {
  margin-right: 8px; }
  .form .form-actions .btn:last-child {
    margin-right: 0; }

.form .form-repeat {
  border-bottom: 1px solid #e7ecf1; }

.btn-ahalf-circle {
  border-radius: 0 5px !important; }

.btn-icon-right .fa {
  margin-left: 10px; }

.btn-icon-left .fa {
  margin-right: 5px; }

.hide-item {
  display: none; }

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle:hover > .username,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user.open > .dropdown-toggle > .username {
  color: #fff; }

.page-header.navbar {
  background: #fff; }
  .page-header.navbar .page-logo .logo-default {
    margin-top: 10px; }

.link-icon {
  background: none !important;
  width: auto !important;
  margin: 0;
  color: #67a2d4;
  padding-right: 20px;
  position: relative; }
  .link-icon:hover, .link-icon:active, .link-icon:focus {
    text-decoration: none !important;
    opacity: 1 !important;
    outline: none;
    outline-offset: none;
    color: #67a2d4 !important; }
  .link-icon::after {
    width: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
    color: #67a2d4; }
  .link-icon.collapse::after {
    content: "\f106"; }

.panel-group {
  margin-bottom: 0; }

.portlet.light .portlet-body {
  padding-top: 15px; }
  .portlet.light .portlet-body.form {
    padding-top: 15px !important; }

.advanced_search .portlet {
  margin-bottom: 0; }
  .advanced_search .portlet > .portlet-title {
    border-bottom: 0;
    margin-bottom: 0; }
  .advanced_search .portlet .portlet-body {
    padding-top: 0;
    margin-bottom: 15px; }

dl.list-item {
  margin: 0;
  padding: 8px 0; }
  dl.list-item dt {
    float: left;
    width: 80px; }
  dl.list-item dd {
    overflow: hidden; }

.row-item.open .row-item-btn {
  background-color: #fff;
  color: #249987;
  border-color: #249987; }
  .row-item.open .row-item-btn:not(.btn-outline).focus, .row-item.open .row-item-btn:not(.btn-outline):focus {
    background-color: #fff;
    color: #249987;
    border-color: #249987; }
  .row-item.open .row-item-btn .fa-plus:before {
    content: "\f068"; }

.td-content-wrap {
  margin: 0 -10px; }
  .td-content-wrap .item-expand-wrap {
    margin-left: 41px; }
    .td-content-wrap .item-expand-wrap.has-border {
      margin: 0 20px;
      padding-left: 21px; }
  .td-content-wrap .table tbody th,
  .td-content-wrap .table tbody td,
  .td-content-wrap .table thead th,
  .td-content-wrap .table thead td {
    padding-left: 41px;
    padding-right: 41px; }

.item-expand-wrap {
  margin-left: 31px; }
  .item-expand-wrap.has-border {
    border-bottom: 1px solid #e7ecf1; }

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
  background-color: #249987; }

.table .status-wrapper {
  width: 130px; }

.switch-text {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: 65px;
  margin-left: 5px; }
  .switch-text .switch-text-on {
    color: #249987; }
  .switch-text .switch-text-off {
    color: #ed6b75; }

.mt-element-step .step-line .mt-step-title {
  font-size: 14px;
  font-weight: 700; }

.mt-element-step .step-line .done .mt-step-number {
  color: #249987 !important;
  border-color: #249987 !important; }

.mt-element-step .step-line .done .mt-step-content {
  color: #249987 !important; }

.mt-element-step .step-line .done .mt-step-title {
  color: #249987 !important; }
  .mt-element-step .step-line .done .mt-step-title:after, .mt-element-step .step-line .done .mt-step-title:before {
    background-color: #249987; }

.mt-element-step.element-step-step-sm .step-line .mt-step-number {
  font-size: 20px;
  height: 42px;
  width: 42px;
  padding: 4px; }

.mt-element-step.element-step-step-sm .step-line .mt-step-title {
  font-size: 13px;
  font-weight: 600; }
  .mt-element-step.element-step-step-sm .step-line .mt-step-title:after, .mt-element-step.element-step-step-sm .step-line .mt-step-title:before {
    top: -25px; }

.form-float [class^="col-md-"] {
  padding: 0; }
  .form-float [class^="col-md-"]:last-child .form-control {
    border-right: 1px solid #c2cad8; }
  .form-float [class^="col-md-"]:last-child .select2-container--bootstrap .select2-selection {
    border-right: 1px solid #c2cad8; }

.form-float .form-control {
  border-right: 0; }

.form-float .select2-container--bootstrap .select2-selection {
  border-right: 0; }

.input-group-addon .btn {
  margin-bottom: 0; }

.input-group.only-text {
  position: relative;
  display: block; }
  .input-group.only-text .input-group-addon {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    display: block;
    z-index: 5;
    border: 0;
    line-height: 33px;
    padding: 0;
    text-align: center; }
  .input-group.only-text .form-control {
    padding-left: 40px; }

.multi-select-col-4 .ms-container {
  width: 67%; }
  .multi-select-col-4 .ms-container .ms-selectable,
  .multi-select-col-4 .ms-container .ms-selection {
    width: 50%;
    background-color: transparent; }
    .multi-select-col-4 .ms-container .ms-selectable .ms-list,
    .multi-select-col-4 .ms-container .ms-selection .ms-list {
      background-color: #fff; }
  .multi-select-col-4 .ms-container .ms-selectable {
    padding-right: 15px; }
  .multi-select-col-4 .ms-container .ms-selection {
    padding-left: 15px; }

.input-group-range .input-group,
.input-group-range .input-group-addon {
  float: left; }

.input-group-range.time-range .input-group-addon {
  background-color: transparent;
  width: auto;
  border: 0;
  line-height: 34px;
  padding: 0 12px; }

.input-group-range.time-range .input-group {
  width: 20%; }

.input-group-range.time-range .input-group-btn {
  border: 1px solid #ccc; }
  .input-group-range.time-range .input-group-btn .btn {
    border: 0; }

.fileinput .thumbnail {
  margin-bottom: 10px; }

.link-special {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
  display: block;
  padding: 25px 0;
  white-space: normal; }

.personal-information {
  font-size: 16px;
  margin: 0 30px; }
  .personal-information .info-title {
    color: #949494; }
  .personal-information .info-name {
    word-wrap: break-word; }
  .personal-information .personal-information-item {
    margin-bottom: 5px; }
  .personal-information .personal-information-wrap {
    margin: 40px 0 0 20px; }
    .personal-information .personal-information-wrap:first-of-type {
      margin-top: 0; }

.pic-bordered {
  border: 1px solid #c2cad8; }

.btn-xs {
  font-size: 11px;
  padding: 3px 8px; }

.dashboard-stat2 {
  padding: 20px;
  min-height: 126px; }
  .dashboard-stat2 .display {
    margin-bottom: 0; }
    .dashboard-stat2 .display .number {
      display: block;
      float: none; }
      .dashboard-stat2 .display .number small {
        color: #9d9d9d;
        font-size: 12px;
        font-weight: 700; }
        .dashboard-stat2 .display .number small > i {
          margin-left: 10px; }
        .dashboard-stat2 .display .number small [class^=icon-] {
          vertical-align: top; }
      .dashboard-stat2 .display .number h3 {
        font-weight: 600;
        color: #249987; }
    .dashboard-stat2 .display .actions {
      margin-top: 8px; }
    .dashboard-stat2 .display .btn-xs {
      max-width: 180px;
      display: block; }

.patient-top .mt-element-step .step-line .mt-step-col {
  padding-top: 0; }

.patient-info {
  margin-bottom: 20px; }
  .patient-info .info-item {
    margin-bottom: 10px; }
  .patient-info .info-group .info-item {
    display: inline-block;
    margin-right: 20px; }
    .patient-info .info-group .info-item:last-child {
      margin-right: 0; }
  .patient-info .info-group.one-line .info-item {
    display: block;
    overflow: hidden; }
    .patient-info .info-group.one-line .info-item .item-title {
      width: 130px;
      float: left;
      display: block; }
    .patient-info .info-group.one-line .info-item .item-value {
      overflow: hidden;
      display: block; }
  .patient-info .patient-medication-allergies {
    color: #ed6b75; }

.patient-step-details .portlet {
  margin-bottom: 1px; }

.portlet-step.box > .portlet-title > .caption {
  padding-left: 35px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }
  .portlet-step.box > .portlet-title > .caption .badge {
    width: 25px;
    height: 25px;
    font-weight: 700;
    line-height: 25px;
    padding: 0;
    font-size: 14px !important;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12.5px;
    color: #f5f5f5;
    background-color: #333;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; }

.portlet-step.green-seagreen.box > .portlet-title > .caption .badge {
  background-color: #fff;
  color: #249987; }

.accordion .panel .panel-title {
  font-weight: 600;
  font-size: 14px; }

.btn-favorite {
  font-weight: 400;
  text-decoration: underline;
  font-size: 12px; }
  .btn-favorite .fa {
    font-size: 18px; }

.form-group-touchspin {
  width: 130px; }
  .form-group-touchspin .form-control {
    text-align: center; }

.not-label {
  margin-top: 24px; }

.form-frame {
  border: 1px solid #c2cad8;
  padding: 20px 0; }

.table-frame > tbody > tr > td, .table-frame > tbody > tr > th, .table-frame > tfoot > tr > td, .table-frame > tfoot > tr > th, .table-frame > thead > tr > td, .table-frame > thead > tr > th {
  border-top: 0; }

.table-frame > thead > tr > th {
  border-bottom: 1px solid #e7ecf1 !important; }

.tabbable-multiline .nav-tabs {
  margin-bottom: 0;
  border-bottom-width: 3px;
  padding-left: 15px; }
  .tabbable-multiline .nav-tabs > li {
    margin: 0 0 0 -1px; }
    .tabbable-multiline .nav-tabs > li > a {
      margin-right: 0;
      border: 1px solid #ddd;
      border-bottom: 0;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0 !important; }
    .tabbable-multiline .nav-tabs > li.active a,
    .tabbable-multiline .nav-tabs > li.active a:focus,
    .tabbable-multiline .nav-tabs > li.active a:hover {
      background-color: #ddd; }

.tabbable-multiline.green-seagreen .nav-tabs {
  border-bottom-color: #249987; }
  .tabbable-multiline.green-seagreen .nav-tabs > li > a {
    border-color: #249987;
    color: #000;
    font-weight: 600; }
  .tabbable-multiline.green-seagreen .nav-tabs > li.active a,
  .tabbable-multiline.green-seagreen .nav-tabs > li.active a:focus,
  .tabbable-multiline.green-seagreen .nav-tabs > li.active a:hover {
    background-color: #249987;
    color: #fff;
    border-bottom: 0; }

.note-content {
  max-width: 470px;
  margin: 0 auto;
  line-height: 1.8; }
  .note-content p {
    margin: 0; }

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-weight: 700; }

.table-form > tbody > tr > td {
  padding-top: 15px;
  padding-bottom: 0; }

.icheck-list.v-middle,
.icheck-inline.v-middle {
  margin-top: 65px; }

.icheck-list > label,
.icheck-inline > label {
  position: relative;
  padding-left: 25px; }
  .icheck-list > label > .icheckbox_minimal-grey,
  .icheck-list > label > .iradio_minimal-grey,
  .icheck-inline > label > .icheckbox_minimal-grey,
  .icheck-inline > label > .iradio_minimal-grey {
    position: absolute;
    top: 0;
    left: 0; }

.icheck-inline > label {
  margin-left: 0;
  margin-right: 25px; }
  .icheck-inline > label:last-child {
    margin-right: 0; }

.form-inline .select2-container--bootstrap {
  min-width: 100px; }

.form-inline-customize label {
  display: block; }

.form-inline-customize.three-items .form-group {
  width: 16.666666%; }
  .form-inline-customize.three-items .form-group.open {
    width: 33.333333%; }
    .form-inline-customize.three-items .form-group.open .select2,
    .form-inline-customize.three-items .form-group.open .form-control {
      float: left;
      width: 50%; }
    .form-inline-customize.three-items .form-group.open .select2 .select2-selection {
      border-right: 0; }
    .form-inline-customize.three-items .form-group.open .select2:last-child .select2-selection {
      border-right: 1px solid #c2cad8; }
    .form-inline-customize.three-items .form-group.open .form-control {
      border-right: 0; }
      .form-inline-customize.three-items .form-group.open .form-control:last-child {
        border-right: 1px solid #c2cad8; }

.form-inline-customize.two-items .form-group {
  width: 20%; }
  .form-inline-customize.two-items .form-group:first-child {
    padding-right: 4.5px; }
  .form-inline-customize.two-items .form-group:last-child {
    padding-left: 4.5px; }
  .form-inline-customize.two-items .form-group.open {
    width: 40%; }
    .form-inline-customize.two-items .form-group.open .select2,
    .form-inline-customize.two-items .form-group.open .form-control {
      float: left;
      width: 50%; }
    .form-inline-customize.two-items .form-group.open .select2 .select2-selection {
      border-right: 0; }
    .form-inline-customize.two-items .form-group.open .select2:last-child .select2-selection {
      border-right: 1px solid #c2cad8; }
    .form-inline-customize.two-items .form-group.open .form-control {
      border-right: 0; }
      .form-inline-customize.two-items .form-group.open .form-control:last-child {
        border-right: 1px solid #c2cad8; }

.form-inline-customize .form-group {
  float: left;
  padding: 0 3px; }
  .form-inline-customize .form-group:first-child {
    padding-left: 0;
    padding-right: 6px; }
  .form-inline-customize .form-group:last-child {
    padding-right: 0;
    padding-left: 6px; }

.modal.no-scroll {
  overflow-y: visible !important; }

.info-wrap {
  font-size: 18px;
  margin-bottom: 20px; }
  .info-wrap p {
    margin: 0; }

.form-control.max-height {
  height: 120px; }

.form-control.medium-height {
  height: 80px; }

.underline {
  text-decoration: underline; }
  .underline:hover {
    text-decoration: none; }

.status-checked {
  color: #249987;
  font-size: 16px; }

.no-item-add {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  border-bottom: 1px solid #e7ecf1;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px; }
  .no-item-add a {
    color: #333; }

.mt-repeater .mt-repeater-item {
  border-bottom: 0;
  padding-bottom: 0; }

.fileinput .thumbnail {
  border-color: #c2cad8; }
  .fileinput .thumbnail > img {
    border: 1px solid #c2cad8; }

.fileinput.size-medium .thumbnail > img {
  max-width: 188px;
  max-height: 140px; }

.fileinput.size-large .thumbnail > img {
  max-width: 296px;
  max-height: 140px; }

img.size-medium {
  max-width: 188px;
  max-height: 140px; }

img.size-large {
  max-width: 296px;
  max-height: 140px; }

.daterangepicker {
  margin-top: 15px; }

.mt-repeater {
  margin-top: 10px; }

.editable-container .editableform {
  width: 200px; }

.editable-container .editable-input .input-medium {
  width: 110px !important; }

@media (min-width: 992px) {
  .page-sidebar-fixed .page-sidebar {
    z-index: 4; }
  .page-patient-info-fixed .patient-top {
    position: fixed;
    width: 100%;
    top: 75px;
    left: 0;
    z-index: 3;
    padding: 0 20px; }
    .page-patient-info-fixed .patient-top .patient-top-wrap {
      background-color: #fff;
      margin-left: 255px;
      margin-right: 0;
      padding: 0 5px;
      border-bottom: 1px solid #f1f1f1; }
  .page-patient-info-fixed .patient-info {
    margin: 20px 0; }
  .page-patient-info-fixed .mt-element-step .step-line .mt-step-col {
    padding: 20px 0; } }

@media (min-width: 992px) and (max-width: 1280px) {
  .dashboard-stat2 {
    padding: 10px;
    min-height: 98px; }
    .dashboard-stat2 .display .number h3 {
      font-size: 24px; }
    .dashboard-stat2 .display .btn-xs {
      font-size: 8px; }
    .dashboard-stat2 .display .btn-icon-right .fa {
      margin-left: 5px; } }

@media (max-width: 991px) {
  .form .form-content {
    padding-bottom: 10px; }
  .form-float .form-control {
    border-right: 1px solid #c2cad8; }
  .form-float .select2-container--bootstrap .select2-selection {
    border-right: 1px solid #c2cad8; }
  .multi-select-col-4 .ms-container {
    width: 100%; }
  .input-group-range.time-range .input-group {
    width: 43%; }
  .personal-information {
    font-size: 14px;
    margin: 0 -15px; }
    .personal-information .personal-information-wrap {
      margin: 20px 0 0 0; } }

.ml-0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mt-0 {
  margin-top: 0 !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.pl-0 {
  padding-left: 0 !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pr-0 {
  padding-right: 0 !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.span10p {
  width: 10%; }

.span20p {
  width: 20%; }

.span30p {
  width: 30%; }

.span40p {
  width: 40%; }

.span50p {
  width: 50%; }

.span60p {
  width: 60%; }

.span70p {
  width: 70%; }

.span80p {
  width: 70%; }

.span90p {
  width: 90%; }

.span100p {
  width: 100%; }

.span180 {
  width: 180px; }

.span190 {
  width: 190px; }

.span200 {
  width: 200px; }

.txt-default {
  color: #333; }

.txt-green-new {
  color: #249987; }

.grey-light {
  color: #f7f7f7; }

.txt-grey-555 {
  color: #555; }

.txt-grey-9d9 {
  color: #9d9d9d; }

.txt-red {
  color: #ed6b75 !important; }

.underline {
  text-decoration: underline; }

.nowrap {
  white-space: nowrap; }

.bg-grey-light {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  padding: 20px;
  margin-top: 30px; }

.rowItemBtn:focus {
  text-decoration: none; }

.rowItemBtn:hover {
  text-decoration: underline !important; }

.align-right {
  text-align: right !important; }

.align-left {
  text-align: left !important; }

.valign-top {
  vertical-align: top !important; }

.valign-middle {
  vertical-align: middle !important; }

.valign-bottom {
  vertical-align: bottom !important; }

.show-grid {
  margin-bottom: 15px; }

span.error {
  color: #e02222;
  font-size: 12px; }

input.error,
.select2-selection--single.error {
  border: 1px solid #e02222 !important; }

label.required {
  color: #333 !important;
  font-size: 14px !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important; }

.readonly-normal {
  background-color: transparent !important; }

.editable-click {
  border-bottom-style: solid !important; }

.mod-filter .filter-label,
.mod-filter .entry {
  display: inline-block;
  vertical-align: middle; }

.mod-filter .filter-label {
  margin-right: 10px;
  color: #555; }

.filter-changing {
  font-weight: 600; }
  .filter-changing a {
    color: #9d9d9d !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    vertical-align: top; }
  .filter-changing .active {
    background-color: #94A0B2;
    color: #fff !important; }
  .filter-changing.primary .active {
    background-color: #337ab7; }

.js-edit {
  position: relative;
  padding-right: 35px; }
  .js-edit .form-control {
    width: 60px;
    height: 26px;
    padding: 6px; }
  .js-edit a {
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: underline; }
  .js-edit .action {
    position: absolute;
    right: 0;
    top: 0; }
  .js-edit .cancel, .js-edit .save {
    display: none; }

.table-edit thead th {
  padding-right: 40px !important; }

.table-edit thead th:first-child {
  padding-right: 0 !important; }

.table-edit thead .js-edit .action {
  right: -30px; }

.table .row-content .empty {
  border-right: 0 !important; }

.table .row-content td {
  text-align: left !important; }

.price-changing-wrap {
  margin-left: 65px; }

.price-changing {
  padding: 15px 0; }
  .price-changing p {
    margin-bottom: 10px; }
  .price-changing strong {
    font-weight: 600; }

.datepicker-wrap .wrap, .datepicker-wrap a {
  display: inline-block;
  vertical-align: bottom; }

.datepicker-wrap a {
  margin-left: 15px !important;
  margin-right: 0 !important; }

.modal-new .modal-title {
  font-weight: bold;
  text-transform: uppercase; }

.modal-new .close {
  height: 12px;
  width: 12px;
  background: none !important;
  color: #4f4f4f;
  font-size: 16px;
  text-indent: 0;
  opacity: 1;
  filter: alpha(opacity=100); }

.modal-new .modal-header {
  padding-left: 35px; }

.modal-new .modal-body {
  padding: 25px 35px; }

.modal-new .table-hover > tbody > tr:nth-child(odd),
.modal-new .table-hover > tbody > tr:nth-child(odd) > td {
  background: #f9fafb !important; }

.modal-new-tab .modal-header {
  padding-bottom: 0; }

.modal-new-tab .tabbable-line {
  border-bottom: 0 !important;
  margin-bottom: 0 !important; }

.modal-acknowledgement .modal-header {
  border-bottom: 0; }

.modal-acknowledgement .modal-body {
  padding-top: 0; }

.portlet.box.white {
  border: 1px solid #e7ecf1; }
  .portlet.box.white > .portlet-title {
    border-bottom: 1px solid #e7ecf1;
    padding: 0 6px 0 17px; }
  .portlet.box.white .caption {
    font-size: 14px; }

.portlet-scroller .portlet-body {
  padding: 0 !important; }

.price-changing-square {
  margin-bottom: 25px;
  /*.value{display: block;font-size: 28px;padding-top: 4px;}*/ }
  .price-changing-square > div, .price-changing-square .fa {
    display: inline-block;
    vertical-align: middle; }
  .price-changing-square .fa {
    margin-left: 20px;
    margin-right: 20px;
    color: #999; }
  .price-changing-square > div {
    border: 1px solid #c4ccd9;
    color: #505050;
    font-weight: 600;
    width: 157px;
    padding-bottom: 10px;
    padding-top: 10px; }
  .price-changing-square .new-value {
    background-color: #249987;
    border-color: #249987;
    color: #fff; }

.tabbable-line.blue > .nav-tabs > li {
  font-weight: 600;
  text-transform: uppercase; }

.tabbable-line.blue > .nav-tabs > li > a {
  font-size: 13px;
  padding-bottom: 8px; }

.tabbable-line.blue > .nav-tabs > li.active {
  border-bottom: 4px solid #337ab7; }

.tabbable-line.blue > .nav-tabs > li.active a {
  color: #337ab7; }

.tabbable-line.blue > .nav-tabs > li:hover {
  border-bottom: 4px solid #3598dc; }

.mt-radio-inline-grid {
  padding-bottom: 7px; }
  .mt-radio-inline-grid .mt-radio {
    margin-bottom: 0; }

.status {
  color: #fff !important; }
  .status.danger {
    background-color: #ed6b75 !important; }
  .status.green {
    background-color: #249987 !important; }
  .status.default {
    background-color: #f3f3f3 !important;
    color: #333 !important; }
  .status.blue {
    background-color: #337ab7 !important; }

.table-hover > tbody > tr:hover .danger {
  background-color: #ed6b75 !important; }

.table-hover > tbody > tr:hover .green {
  background-color: #249987 !important; }

.table-hover > tbody > tr:hover .blue {
  background-color: #337ab7 !important; }

.file-input-new .input-large {
  padding-bottom: 25px; }

.file-input-new .btn-file {
  overflow: visible; }

.file-input-new span.error {
  position: absolute;
  left: -240px;
  bottom: -21px;
  color: #e73d4a;
  font-size: 12px; }

.file-input-new input[type=file] {
  overflow: hidden; }

.file-input-new .progress {
  position: absolute;
  left: 0;
  bottom: 12px;
  height: 13px;
  margin-bottom: 0;
  width: 240px; }

.file-input-new .progress-bar {
  font-size: 10px;
  line-height: 13px; }

.icon-check-lg {
  color: #249987;
  font-size: 52px;
  line-height: normal; }

.multi-select {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  margin-bottom: -10px;
  padding: 8px 10px; }
  .multi-select a {
    display: inline-block;
    margin-left: 10px; }

.update-info-detail {
  padding: 0; }
  .update-info-detail li {
    display: inline-block;
    font-weight: 600;
    padding-right: 20px;
    margin-bottom: 15px;
    vertical-align: top; }
  .update-info-detail .text {
    color: #555;
    font-weight: 400; }

.update-info-form {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  padding: 15px 35px 10px;
  margin-left: -35px;
  margin-right: -35px; }
  .update-info-form:last-child {
    border-bottom: 1px solid #e7ecf1;
    margin-bottom: 30px; }
  .update-info-form .mt-radio-inline {
    padding-top: 0;
    padding-bottom: 0; }

.bg-white {
  background-color: #fff; }

.modal-update-multi .modal-body {
  padding-right: 0;
  padding-left: 0; }

.slick-adapt-modal {
  max-height: 350px;
  overflow: hidden; }

.update-info-carousel .update-info-detail {
  padding: 15px 30px 0; }

.update-info-carousel .update-info-form-wrap {
  background-color: #f7f7f7;
  border-top: 1px solid #e7ecf1;
  padding: 15px 30px 20px; }

.update-info-carousel .update-info-form {
  background-color: transparent;
  border-bottom: 0;
  border-top: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0; }

.update-info-carousel .slick-slide {
  border: 1px solid #e7ecf1;
  margin-right: 30px;
  outline: 0;
  opacity: 0.4; }

.update-info-carousel .slick-current {
  opacity: 1; }

.update-info-carousel .slick-prev {
  left: 90px; }

.update-info-carousel .slick-next {
  right: 120px; }

.update-info-carousel .slick-prev, .update-info-carousel .slick-next {
  bottom: -70px;
  top: auto;
  border: 1px solid #e7ecf1;
  color: #337ab7 !important;
  font-size: 16px;
  height: 33px;
  width: 43px; }

.update-info-carousel .slick-prev:before, .update-info-carousel .slick-next:before {
  color: #000;
  display: none; }

.update-info-carousel .slick-disabled {
  display: none !important; }

.slick-items {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px; }

.slimScrollDiv .scroller {
  padding: 0 15px 10px 10px; }

.slimScrollRail {
  background-color: #fbfbfb !important;
  border-left: 1px solid #e8e8e8 !important;
  width: 14px !important;
  opacity: 1 !important; }

.slimScrollBar {
  background-color: #c2c2c2 !important;
  margin-right: 2px !important;
  width: 8px !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important; }

.filter-form-inline .txt {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 5px; }

.irs-green-seagreen .irs-from, .irs-green-seagreen .irs-to, .irs-green-seagreen .irs-single, .irs-green-seagreen .irs-bar {
  background: #249987; }

.irs-green-seagreen .irs-from:after, .irs-green-seagreen .irs-to:after, .irs-green-seagreen .irs-single:after {
  border-top-color: #249987; }

.irs-green-seagreen .irs-slider {
  background: none !important; }

.irs-green-seagreen .irs-slider:after {
  content: '';
  background: #1a7063;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0; }

dl.list-item-transaction dt {
  width: 140px; }

.input-medium-wrapper .input-medium {
  width: 180px !important; }

.input-medium-wrapper .input-medium-wrap, .input-medium-wrapper .btn {
  display: inline-block;
  vertical-align: middle; }

.input-medium-wrapper .btn {
  margin-left: 10px; }

.form-margin-share .label {
  font-size: 11px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: inline-block;
  vertical-align: top; }

.form-margin-share .help-inline .text {
  display: inline-block;
  vertical-align: top; }

.form-margin-share .control-label-2lines {
  padding-top: 0;
  margin-top: -2px; }

.form-margin-share .btn-update-margin {
  margin-top: 15px;
  margin-left: 76px; }

.form-margin-share .date-picker {
  width: 145px; }

.rowItemBtnText .text {
  color: #249987;
  font-size: 11px;
  font-weight: 600;
  margin-right: 10px; }

.advanced-search-filter {
  border-top: 1px solid #eee;
  padding-top: 18px; }
  .advanced-search-filter .date-picker-item {
    position: relative; }
  .advanced-search-filter .form-control {
    padding-right: 28px; }
  .advanced-search-filter .input-daterange input {
    text-align: left; }
  .advanced-search-filter .input-daterange .fa {
    position: absolute;
    right: 11px;
    top: 10px;
    z-index: 3;
    color: #cdcdcd;
    font-size: 16px; }
  .advanced-search-filter .input-daterange .input-group-addon {
    background: transparent;
    border: 0;
    color: #bcbcbc; }
  .advanced-search-filter .form-inline .input-group-addon-label {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 5px; }

.sub-table > td {
  padding: 0 !important; }

.sub-table .table {
  margin-bottom: 0; }
  .sub-table .table th, .sub-table .table td {
    border-top: 0 !important; }

.sub-table .input-medium {
  width: 100px !important; }

.table-white > tbody > tr,
.table-white > tbody > tr:hover,
.table-white > tbody > tr:hover > td {
  background: transparent !important; }

.table-white > tbody > tr > td {
  border-top: 0 !important;
  background: transparent !important; }

.modal-new .table-white > tbody > tr > td
.modal-new .table-white > tbody > tr:hover > td,
.modal-new .table-white > tbody > tr:nth-child(odd),
.modal-new .table-white > tbody > tr:nth-child(odd) > td {
  background: transparent !important; }

.rx-transaction-info {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid #e7ecf1;
  padding-bottom: 10px;
  padding-top: 10px; }

.rx-transaction-table .table {
  margin-bottom: 30px; }
  .rx-transaction-table .table th {
    border-bottom: 1px solid #e7ecf1 !important; }
  .rx-transaction-table .table tfoot td {
    border-top: 1px solid #e7ecf1 !important; }

#select2-ProfileBundle_agent_city-results li[aria-disabled="true"] {
  display: none !important; }

.mod-highlights {
  margin-left: -5px;
  margin-right: -5px; }
  .mod-highlights .col-lg-3 {
    padding-left: 5px;
    padding-right: 5px; }

/* =============== Loading =============== */
.blink-loader {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }
  .blink-loader .load1 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -2px; }
  .blink-loader:hover img {
    opacity: 1 !important; }
  .blink-loader img {
    display: none; }
  .blink-loader .load1-wrap {
    display: block; }
  .blink-loader .loader,
  .blink-loader .loader:before,
  .blink-loader .loader:after {
    background: #fff;
    opacity: 0.9;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 6px;
    height: 16px; }
  .blink-loader .loader:before,
  .blink-loader .loader:after {
    position: absolute;
    top: 0;
    content: ''; }
  .blink-loader .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .blink-loader .loader {
    text-indent: -9999em;
    position: relative;
    font-size: 6px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .blink-loader .loader:after {
    left: 1.5em; }

.load1-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999; }

.load1 {
  display: none; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 10px; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 16px; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 10px; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 16px; } }

/* =============== END Loading =============== */
@media (min-width: 1200px) {
  .table-edit tbody .js-edit .action {
    display: none; }
  .table-edit tbody tr:hover .js-edit .action {
    display: block; } }

@media (max-width: 1170px) {
  .module-filter [class*="col-"] {
    margin-bottom: 10px; }
  .module-filter [class*="col-"]:last-of-type {
    margin-bottom: 0; }
  .price-changing-wrap {
    margin-left: 51px; }
  .mod-filter-range .col-md-5,
  .mod-filter-range col-md-7 {
    float: none;
    width: 100%; } }

@media (min-width: 992px) and (max-width: 1280px) {
  #reportrange2 {
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px; } }

@media (min-width: 992px) and (max-width: 1170px) {
  .profile-account > .col-md-3,
  .profile-account > .col-md-9 {
    float: none;
    width: 100%; } }

@media (min-width: 992px) {
  .mod-take-effect .col-md-5 {
    padding-left: 65px;
    padding-top: 0;
    margin-top: -3px; } }

@media (max-width: 991px) {
  .mb-grid [class*="col-"] {
    margin-bottom: 10px; }
  .mb-grid [class*="col-"]:last-of-type {
    margin-bottom: 0; }
  .mod-filter .filter-label {
    margin-bottom: 5px; }
  .module-filter .text-right {
    text-align: left !important; }
  .price-changing-square > div {
    width: 120px; }
  .tabbable-line > .nav-tabs > li > a {
    padding-left: 8px;
    padding-right: 8px; }
  .multi-select .pt-5 {
    padding-top: 0 !important; }
  .multi-select .text-right {
    text-align: left;
    padding-top: 10px; }
  .modal-new .modal-body {
    padding: 15px; }
  .update-info-carousel .slick-slide {
    margin-right: 0; }
  .update-info-carousel .slick-prev {
    left: 0; }
  .update-info-carousel .slick-next {
    right: 0; }
  .mt-radio-inline-grid {
    padding-bottom: 0; }
  .advanced_search .pull-left,
  .advanced_search .pull-right {
    float: none !important; }
  .advanced_search .pull-right {
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  .advanced-search-filter .form-inline .input-group-addon-label {
    margin-top: -15px; } }

@media (max-width: 360px) {
  #reportrange2 {
    display: block;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px; }
    #reportrange2 span {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 235px; } }

@media (max-width: 320px) {
  #reportrange2 span {
    max-width: 200px; } }
