/* #accordion-container {
	font-size: 13px;
	background: #ffffff;
	padding: 5px 10px 10px 10px;
	border: 1px solid #cccccc;
} */

.accordion-header {
	font-size: 14px;
	background: #211d1e;
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 0px;
	cursor: pointer;
	color: #000;
}

.accordion-header:first-child{
	margin-top: 0;
	padding-top:0;
}

.active-header{
	background: #fff;
}
.active-header:before {
	content:'-';
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	margin-right: 10px;
	background-color: #FDB813;
	color: #000;
	text-align: center;
	font-weight: normal;
}

.active-header:hover {
	background-color:#fff;
}

.inactive-header {
	background-color:#fff;
}
.inactive-header:before{
	content:'+';
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	margin-right: 10px;
	background-color: #FDB813;
	color: #000;
	text-align: center;
	font-weight: normal;
}

.inactive-header:hover {
	background-color: #fff;
}

.accordion-content {
	display: none;
	padding: 0px 40px;
	background: #fff;
	position: relative;
}

.accordion-content:before{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 20px;
	background: url(images/quotes_o.png) top left no-repeat;
	color: #FDB813;
	font-size: 24px;
}
.accordion-content:after{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 0;
	right: 20px;
	background: url(images/quotes_e.png) bottom right no-repeat;
	color: #FDB813;
	font-size: 24px;
}

@media(max-width: 992px){
	.accordion-content {
		padding: 0 20px;
	}
	.accordion-content:before{
		left: 0;
	}
	.accordion-content:after{
		right: 0;
	}
}