{% extends '@MxbBackend/master_layout.html.twig' %}

{% block body %}

    {% include '@Admin/header.html.twig' %}
    <div class="page-container">
        {% include '@Admin/left-menu.html.twig' with { 'mainMenu': 'dashboard', 'subMenu': '' } %}
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->

                    <div class="page-title">
                        {% block pageTitle %}
                        {% endblock %}
                    </div>
                    <!-- END PAGE TITLE -->

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE BREADCRUMB -->
                <ul class="page-breadcrumb breadcrumb">
                    <li> <a href="{{ path('admin_dashboard')}}">Home</a> <i class="fa fa-circle"></i> </li>
                        {% block breadcrumb %}

                    {% endblock %}
                </ul>
                <!-- END PAGE BREADCRUMB -->
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        {% if ajaxURL is defined %}
                            <input type='hidden' id='ajax-url' value="{{ path(ajaxURL) }}" />
                        {% endif %}
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->

        </div>
    </div>

{% endblock %}
{% block javascriptsMenu %}
    {% javascripts

      '@MxbBackendBundle/Resources/public/js/admin_left_menu.js'

      debug=false

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
