{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
<input type='hidden' id="current-route-data" value="{{ currentPath }}" />
<div class="page-sidebar-wrapper" >
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" id='admin-left-menu'>
            <li class="nav-item start"> <a href="{{ path('admin_dashboard') }}" class="nav-link nav-toggle"> <i class="icon-home"></i> <span class="title">Dashboard</span> <span class="selected"></span> </a> </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-agent"></i> <span class="title">Agent</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item"> <a href="{{ path('admin_agent') }}" class="nav-link "> <span class="title">List AGENTS</span> </a> </li>
                    <li class="nav-item"> <a href="{{ path('admin_agent_create') }}" class="nav-link "> <span class="title">Register AGENT</span> </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-doctor"></i> <span class="title">Doctors</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item"> <a href="{{ path('admin_doctor_list')}}" class="nav-link "> <span class="title">List Doctors</span> </a> </li>
                    <li class="nav-item "> <a href="{{ path('admin_doctor_create') }}" class="nav-link "> <span class="title">Register Doctor</span> </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="fa fa-medkit"></i> <span class="title">Pharmacy</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="{{ path('admin_pharmacy_list') }}" class="nav-link"> <span class="title">List Pharmacies</span> <span class="arrow"></span> </a>

                    </li>
                    <li class="nav-item"> <a href="{{ path('admin_pharmacy_create') }}" class="nav-link "> <span class="title">Register a Pharmacy</span> </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-delivery"></i> <span class="title">Delivery Partner</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item"> <a href="{{ path('admin_delivery_partner') }}" class="nav-link "> <span class="title">List Delivery Partner</span> </a> </li>
                    <li class="nav-item"> <a href="{{ path('admin_delivery_partner_create')}}" class="nav-link "> <span class="title">Add a Delivery Partner</span> </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-messages"></i> <span class="title">Messages</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item"> <a href="" class="nav-link "> <span class="title">Message item</span> </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-payment"></i> <span class="title">Payment, Margin
                        & GST</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">Update Payment status</span> </a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">Adjustment</span> </a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">Payment Gateway Settlement</span> </a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">Payment schedule</span> </a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">gross margin share</span> </a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">GST rates</span> </a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">Product margins</span> </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-customer"></i> <span class="title">Customer Care</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item"> <a href="#" class="nav-link "> <span class="title">Order List</span> </a> </li>
                    <li class="nav-item "> <a href="#" class="nav-link "> <span class="title">Issue &amp; Resolutions</span> </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="fa fa-bar-chart"></i> <span class="title">Reports</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li class="nav-item  "> <a href="#" class="nav-link "> <span class="title">Doctor Report</span> </a> </li>
                    <li class="nav-item  "> <a href="#" class="nav-link "> <span class="title">Agent Report</span> </a> </li>
                    <li class="nav-item  "> <a href="#" class="nav-link "> <span class="title">Patient Report</span> </a> </li>
                    <li class="nav-item  "> <a href="#" class="nav-link "> <span class="title">RX Transaction Report</span> </a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>