<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">

<head>
  <title>{% block title %}GMEDs!{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="Dashboard" name="description" />
  <meta content="Dashboard" name="keywords" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

        {% stylesheets
            'bundles/mxbbackend/global/plugins/font-awesome/css/font-awesome.min.css'
            'bundles/mxbbackend/global/plugins/simple-line-icons/simple-line-icons.min.css'
            'bundles/mxbbackend/global/plugins/bootstrap/css/bootstrap.min.css'
            'bundles/mxbbackend/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
            'bundles/mxbbackend/global/plugins/typeahead/typeahead.css'
            debug=false
            filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %} {% endblock %}

        {% stylesheets
            'bundles/mxbbackend/global/css/components.min.css'
            'bundles/mxbbackend/global/css/plugins.min.css'
            'bundles/mxbbackend/layouts/layout4/css/layout.min.css'
            'bundles/mxbbackend/layouts/layout4/css/themes/default.min.css'
            'bundles/mxbbackend/layouts/layout4/css/custom.min.css'
            'bundles/mxbbackend/layouts/layout4/css/custom2.min.css'
            'bundles/mxbbackend/layouts/layout4/css/slick/slick.css'
            filter='cssrewrite'
            debug=false
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


  <link rel="shortcut icon" href="{{ asset('bundles/mxbbackend/pages/img/logo.png') }}" />
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-fixed page-sidebar-closed-hide-logo {% block classbody %}{% endblock %}">

  {% block body %}{% endblock %}

  <!--[if lt IE 9]>
  {% javascripts
      '@MxbBackendBundle/Resources/public/global/plugins/respond.min.js'
      '@MxbBackendBundle/Resources/public/global/plugins/excanvas.min.js'
      '@MxbBackendBundle/Resources/public/global/plugins/ie8.fix.min.js'

       debug=false
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <![endif]-->


  {% javascripts
      '@MxbBackendBundle/Resources/public/global/plugins/jquery.min.js'
      '@MxbBackendBundle/Resources/public/global/plugins/bootstrap/js/bootstrap.min.js'
      '@MxbBackendBundle/Resources/public/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
      '@MxbBackendBundle/Resources/public/global/plugins/jquery.blockui.min.js'
      '@MxbBackendBundle/Resources/public/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
      '@MxbBackendBundle/Resources/public/global/scripts/app.min.js'
       debug=false

  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% block javascripts %} {% endblock %}

  {% javascripts
      '@MxbBackendBundle/Resources/public/layouts/layout4/scripts/layout.min.js'
      '@MxbBackendBundle/Resources/public/layouts/layout4/scripts/custom.min.js'
      '@MxbBackendBundle/Resources/public/js/common.js'
      '@MxbBackendBundle/Resources/public/layouts/global/scripts/quick-sidebar.min.js'
      '@MxbBackendBundle/Resources/public/layouts/global/scripts/quick-nav.min.js'
      debug=false

   %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

    {% block javascriptsMenu %}
    {% endblock %}
  <div id="hidden_fields">
      {% block hiddenfields %}
      {% endblock %}
  </div>
</body>

</html>
