<<<<<<< HEAD
=======
{% extends '@MxbFrontend/layout.html.twig' %}
{% block body %}    
        <section class="bannercontainer">
            <div class="fullscreenbanner-container">
                <div class="fullscreenbanner">
                    <ul>
                        <li data-transition="parallaxvertical" data-slotamount="5"
                            data-masterspeed="700"
                            data-title="Slide 0">
                            <img src="{{asset('uploads/homepage/taybac.jpg') }}" alt="slidebg0"
                                 data-bgfit="cover"
                                 data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption container">
                                <div class="tp-caption rs-caption-1 sft start"
                                     data-hoffset="0"
                                     data-y="270"
                                     data-speed="100"
                                     data-start="1000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    HÀ NỘI - SAPA - FANSIPAN - LÀO CAI
                                    <span> TÂY BẮC MÙA LÚA CHÍN</span>
                                </div>
                                <div class="tp-caption rs-caption-2 sft"
                                     data-hoffset="0"
                                     data-y="400"
                                     data-speed="1000"
                                     data-start="1500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    4 ngày, 6.379.000đ
                                </div>
                                <div class="tp-caption rs-caption-3 sft"
                                     data-hoffset="0"
                                     data-y="485"
                                     data-speed="800"
                                     data-start="2000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    <span class="page-scroll"><a target="_blank"
                                                                 href="http://www.saigontourist.net/vi/tour-trong-nuoc/160/du-lich-ha-noi-sapa-fansipan-lao-cai-4-ngay"
                                                                 class="btn buttonCustomPrimary">Xem thêm</a></span>
                                </div>
                            </div>
                        </li>
                        <li data-transition="parallaxvertical" data-slotamount="5"
                            data-masterspeed="1000"
                            data-title="Slide 1">
                            <img src="../uploads/homepage/Eiffel-tower-Paris-France.jpg" alt="slidebg1"
                                 data-bgfit="cover"
                                 data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption container">
                                <div class="tp-caption rs-caption-1 sft start"
                                     data-hoffset="0"
                                     data-y="270"
                                     data-speed="800"
                                     data-start="1000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    PHÁP - BỈ - HÀ LAN - ĐỨC
                                    <span> SẮC THU CHÂU ÂU</span>
                                </div>
                                <div class="tp-caption rs-caption-2 sft"
                                     data-hoffset="0"
                                     data-y="400"
                                     data-speed="1000"
                                     data-start="1500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    10 ngày, từ 58.990.000đ
                                </div>
                                <div class="tp-caption rs-caption-3 sft"
                                     data-hoffset="0"
                                     data-y="485"
                                     data-speed="800"
                                     data-start="2000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    <span class="page-scroll">
                                        <a target="_blank"
                                                                 href="http://www.saigontourist.net/vi/tour-nuoc-ngoai/51/du-lich-chau-au-phap-bi-ha-lan-duc-10-ngay"
                                                                 class="btn buttonCustomPrimary">Xem thêm</a></span>
                                </div>
                            </div>
                        </li>
                        <li data-transition="parallaxvertical" data-slotamount="5"
                            data-masterspeed="700"
                            data-title="Slide 2">
                            <img src="../uploads/homepage/Gyeongbokgung-Palace-in-seoul-Korea_341549075.jpg" alt="slidebg2"
                                 data-bgfit="cover"
                                 data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption container">
                                <div class="tp-caption rs-caption-1 sft start"
                                     data-hoffset="0"
                                     data-y="270"
                                     data-speed="800"
                                     data-start="1000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    Liên tuyến NHẬT BẢN - HÀN QUỐC
                                    <span> MÙA LÁ ĐỎ</span>
                                </div>
                                <div class="tp-caption rs-caption-2 sft"
                                     data-hoffset="0"
                                     data-y="400"
                                     data-speed="1000"
                                     data-start="1500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    7 ngày - 43.990.000đ
                                </div>
                                <div class="tp-caption rs-caption-3 sft"
                                     data-hoffset="0"
                                     data-y="485"
                                     data-speed="800"
                                     data-start="2000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    <span class="page-scroll"><a target="_blank"
                                                                 href="http://www.saigontourist.net/vi/tour-nuoc-ngoai/398/du-lich-han-quoc-nhat-ban-5-ngay-seoul-nami-jeju-tokyo-nui-phu-sy-vuon-trai-cay"
                                                                 class="btn buttonCustomPrimary">Xem thêm</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="main-wrapper">
            <!-- TOUR Global -->
            <section class="whiteSection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sectionTitle">
                                <h2><span>DU LỊCH NƯỚC NGOÀI</span></h2>
                                <p>Chiêm ngưỡng sắc Thu thế giới</p>
                            </div>
                        </div>
                    </div>
                    <div class="row isotopeContainer">
                        <div class="col-sm-4 col-xs-12 isotopeSelector">
                            <article class="">
                                <figure>
                                    <img src="../uploads/destination/NuocNgoai/Trungquoc/Panda_115427572.jpg" width="360"  alt="">
                                    <h4>Du lịch Bắc Kinh</h4>
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <a href="tour-nuoc-ngoai/532/du-lich-bac-kinh.html"
                                           class="fancybox-pop" href="single-package-fullwidth.html">
                                            <div class="overlayInfo">
                                                <h5>GIÁ <span>9.999.000 </span>vnd</h5>
                                                <p><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>15/10/2017
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="col-sm-4 col-xs-12 isotopeSelector">
                            <article class="">
                                <figure>
                                    <img src="../uploads/destination/NuocNgoai/Uc/kangaroo-island_537232678.jpg" width="360"  alt="">
                                    <h4>Du lịch Úc 7 ngày [Melbourne - Canberra - Sydney] - Trảy hội hoa xuân Floriade</h4>
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <a href="tour-nuoc-ngoai/417/du-lich-uc-7-ngay-melbourne-canberra-sydney-tray-hoi-hoa-xuan-floriade.html"
                                           class="fancybox-pop" href="single-package-fullwidth.html">
                                            <div class="overlayInfo">
                                                <h5>GIÁ <span>60.990.000 </span>vnd</h5>
                                                <p><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>06/10/2017
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="col-sm-4 col-xs-12 isotopeSelector">
                            <article class="">
                                <figure>
                                    <img src="../uploads/destination/NuocNgoai/Tho-Nhi-Ky/Hagia-Sophia_303885371.jpg" width="360"  alt="">
                                    <h4>Du lịch Thổ Nhĩ Kỳ 9 ngày</h4>
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <a href="tour-nuoc-ngoai/416/du-lich-tho-nhi-ky-9-ngay.html"
                                           class="fancybox-pop" href="single-package-fullwidth.html">
                                            <div class="overlayInfo">
                                                <h5>GIÁ <span>28.990.000 </span>vnd</h5>
                                                <p><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>30/10/2017
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <!-- TOUR Domestic -->
            <section class="whiteSection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sectionTitle">
                                <h2><span>DU LỊCH TRONG NƯỚC</span></h2>
                                <p>Trải nghiệm mùa thu Quê hương</p>
                            </div>
                        </div>
                    </div>
                    <div class="row isotopeContainer">
                        <div class="col-sm-4 col-xs-12 isotopeSelector">
                            <article class="">
                                <figure>
                                    <img src="../uploads/destination/TrongNuoc/Mientay/lang-hoa-Sadec.jpg" width="360"  alt="">
                                    <h4>Du lịch Sa Đéc - Long Xuyên - Cù Lao Ông Hổ [Mùa nước nổi]</h4>
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <a href="tour-trong-nuoc/538/du-lich-sa-dec-long-xuyen-cu-lao-ong-ho-mua-nuoc-noi.html"
                                           class="fancybox-pop" href="single-package-fullwidth.html">
                                            <div class="overlayInfo">
                                                <h5>GIÁ <span>1.979.000 </span>vnd</h5>
                                                <p><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>14/10/2017
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="col-sm-4 col-xs-12 isotopeSelector">
                            <article class="">
                                <figure>
                                    <img src="../uploads/destination/TrongNuoc/Nhatrang/monkey-island-nha-trang.jpg" width="360"  alt="">
                                    <h4>Du lịch Nha Trang - Hòn Lao</h4>
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <a href="tour-trong-nuoc/478/du-lich-nha-trang-hon-lao.html"
                                           class="fancybox-pop" href="single-package-fullwidth.html">
                                            <div class="overlayInfo">
                                                <h5>GIÁ <span>3.200.000 </span>vnd</h5>
                                                <p><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>29/09/2017
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="col-sm-4 col-xs-12 isotopeSelector">
                            <article class="">
                                <figure>
                                    <img src="../uploads/destination/TrongNuoc/QuyNhon/Ganh-Da-Dia-Phu-yen-vietnam-_350957264.jpg" width="360"  alt="">
                                    <h4>Du lịch Quy Nhơn - Hầm Hô - Eo Gió - Vườn Thú FLC - Khu Dã Ngoại Trung Lương - Tuy Hòa</h4>
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <a href="tour-trong-nuoc/462/du-lich-quy-nhon-ham-ho-eo-gio-vuon-thu-flc-khu-da-ngoai-trung-luong-tuy-hoa.html"
                                           class="fancybox-pop" href="single-package-fullwidth.html">
                                            <div class="overlayInfo">
                                                <h5>GIÁ <span>4.979.000 </span>vnd</h5>
                                                <p><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>28/09/2017
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <!-- PROMOTION PARALLAX -->
            <section class="promotionWrapper"
                     style="background-image: url(../uploads/destination/TrongNuoc/Mientay/hinh%20537587272s.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="promotionTable">
                                <div class="promotionTableInner">
                                    <div class="promotionInfo">
                                        <span>KHÁM PHÁ MIỀN TÂY </span>
                                        <h2>MÙA NƯỚC NỔI</h2>
                                        <p></p>
                                        <a href="tour/mua-nuoc-noi.html"
                                           class="btn buttonCustomPrimary">
                                            Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- DESTINATION -->
            <section class="whiteSection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sectionTitle">
                                <h2><span>TUYẾN ĐIỂM DU LỊCH</span></h2>
                                <p>Hãy để mỗi hành trình là một trải nghiệm!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row marginExten">
                        <div class="col-sm-6 col-xs-12">
                            <div class="thumbnail citiesContent country-destination">
                                <div class="imageArea">
                                    <a href="tuyen-diem/cat/han-quoc">
                                        <img src="../uploads/destination/NuocNgoai/HanQuoc/gyeongbokgung-palace-in-spring-Korea_396661135.jpg"
                                             style="border-radius: 5px; max-height: 316.5px" alt="cities image">
                                        <div class="sticker">Hàn Quốc</div>
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="tuyen-diem/195/den-han-quoc-don-tet-trung-thu.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/destination/an-pham/2017-autumn-issue/17-08-han-quoc/saigontourist-Nami-Island_332443214.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="tuyen-diem/195/den-han-quoc-don-tet-trung-thu.html"
                                                       class="media-heading title-destination">Đến Hàn Quốc đón Tết Trung Thu</a>
                                                    <p class="content-destination">
                                                        Người Hàn Quốc gọi Tết Trung Thu là Chuseok và đây là một trong ba ngày lễ lớn nhất của xứ sở kimchi
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="tuyen-diem/187/nhung-hanh-trinh-mua-thu-chau-a-duoc-yeu-thich-nhat.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/MuaThu/0.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="tuyen-diem/187/nhung-hanh-trinh-mua-thu-chau-a-duoc-yeu-thich-nhat.html"
                                                       class="media-heading title-destination">Những hành trình mùa thu Châu Á được yêu thích nhất</a>
                                                    <p class="content-destination">
                                                        Mùa thu vẫn là mùa tuyệt nhất trong năm để đi du lịch. Mùa của tiết trời ấm áp, không quá lạnh cũng không còn...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="thumbnail citiesContent country-destination">
                                <div class="imageArea">
                                    <a href="tuyen-diem/cat/viet-nam.html">
                                        <img src="../uploads/destination/TrongNuoc/Halong/Halong-Bay-Vietnam_433429624.jpg"
                                             style="border-radius: 5px; max-height: 316.5px" alt="cities image">
                                        <div class="sticker">Việt Nam</div>
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="tuyen-diem/201/ky-nghi-trong-mo.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/destination/an-pham/2017-autumn-issue/17-08-so-tay-du-lich/9.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="tuyen-diem/201/ky-nghi-trong-mo.html"
                                                       class="media-heading title-destination">Kỳ nghỉ trong mơ</a>
                                                    <p class="content-destination">
                                                        Việt Nam là một trong những quốc gia người dân có thể có một chuyến du lịch nghỉ dưỡng cao cấp với giá dễ chịu....
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="tuyen-diem/199/ky-co-thien-duong-co-that.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/destination/an-pham/2017-autumn-issue/17-08-quy-nhon/saigontourist-Ky-Co-beach-from-above_638741323.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="tuyen-diem/199/ky-co-thien-duong-co-that.html"
                                                       class="media-heading title-destination">Kỳ Co - Thiên Đường Có Thật</a>
                                                    <p class="content-destination">
                                                        Cách thành phố Quy Nhơn khoảng 25km về hướng Đông Bắc, Kỳ Co hiện lên như một báu vật giữa vùng biển miền Trung và...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="promotionWrapper"
                     style="background-image: url(../uploads/homepage/vin-phuquoc.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="promotionTable">
                                <div class="promotionTableInner">
                                    <div class="promotionInfo">
                                        <span>Ưu đãi cực sốc </span>
                                        <h2>Free &amp; Easy VinPearl Phú Quốc</h2>
                                        <p></p>
                                        <a href="http://www.saigontourist.net/dichvuphong/"
                                           class="btn buttonCustomPrimary">
                                            Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="whiteSection">
                <div class="container">
                    <div class="row marginExten">
                        <div class="col-sm-6 col-xs-12">
                            <div class="sectionNewTitle">
                                <h2><span>TIN SAIGONTOURIST</span></h2>
                            </div>
                            <div class="thumbnail citiesContent country-destination">
                                <div class="imageArea">
                                    <a href="chi-tiet/317/tu-ngay-12-139-saigontourist-don-va-phuc-vu-3000-khach-tau-bien-voyager-of-the-seas-cap-cang-chan-may-va-nha-trang.html">
                                        <img src="../uploads/tintuc/hinhtau1-edit.jpg"
                                             style="border-radius: 5px; "
                                             alt="cities image">
                                        <div class="sticker"
                                             style="bottom: 10px !important; top: inherit; max-width: calc(100% - 38px);">Từ ngày 12-13/9, Saigontourist đón và phục vụ 3.000 khách tàu biển Voyager of the Seas cập cảng Chân Mây và Nha Trang</div>
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="chi-tiet/318/tham-xu-so-cua-dong-toc-grimaldi.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/tintuc/Lang-Tay-Ban-Nha-o-Barcelona.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="chi-tiet/318/tham-xu-so-cua-dong-toc-grimaldi.html"
                                                       class="media-heading title-destination">Thăm xứ sở của dòng tộc Grimaldi</a>
                                                    <p class="content-destination">
                                                        Giữa khung cảnh lãng mạn của mùa thu châu Âu, còn gì tuyệt vời hơn khi du khách đặt chân đến miền Nam nước Pháp...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="chi-tiet/304/cung-saigontourist-tan-huong-nhung-net-dep-chi-co-vao-mua-nuoc-noi.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/destination/TrongNuoc/Mientay/tram-chim-national-reserve-dongthap.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="chi-tiet/304/cung-saigontourist-tan-huong-nhung-net-dep-chi-co-vao-mua-nuoc-noi.html"
                                                       class="media-heading title-destination">Cùng Saigontourist tận hưởng những nét đẹp chỉ có vào mùa nước nổi</a>
                                                    <p class="content-destination">
                                                        Năm nay, mùa nước nổi miền Tây về sớm, nên một số công ty du lịch đã điều chỉnh lịch khởi hành sớm hơn, ngay...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="more">
                                <a href="bai-viet/tin-saigontourist.html"
                                   class="btn buttonCustomPrimary">
                                    Xem thêm
                                </a>
                            </span>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="sectionNewTitle">
                                <h2><span>TIN DU LỊCH</span></h2>
                            </div>
                            <div class="thumbnail citiesContent country-destination">
                                <div class="imageArea">
                                    <a href="chi-tiet/309/5-tour-di-ngam-mua-thu-o-chau-a-dang-mua-ngay-va-luon.html">
                                        <img src="../uploads/destination/an-pham/2017-autumn-issue/Afamily/Saigontourist_Tho-Nhi-Ky.jpg"
                                             style="border-radius: 5px;" alt="cities image">
                                        <div class="sticker"
                                             style="bottom: 10px !important; top: inherit; max-width: calc(100% - 38px);">5 TOUR ĐI NGẮM MÙA THU Ở CHÂU Á ĐÁNG MUA NGAY VÀ LUÔN</div>
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="chi-tiet/312/gia-taxi-o-dau-khien-ta-dau-tim.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/destination/NuocNgoai/Thuysi/Mountain-titles_391379860.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="chi-tiet/312/gia-taxi-o-dau-khien-ta-dau-tim.html"
                                                       class="media-heading title-destination">Giá taxi ở đâu khiến ta đau tim?</a>
                                                    <p class="content-destination">
                                                        Nếu từng đi du lịch đến một thành phố lạ, bạn chắc đã trải qua cảm giác hồi hộp khi ngồi sau xe taxi và...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="media item-destination">
                                                <a class="media-left"
                                                   href="chi-tiet/311/thanh-pho-nao-don-nhieu-khach-du-lich-nhat-the-gioi.html"
                                                   style="padding-right: 0 !important;">
                                                    <img class="media-object" src="../uploads/destination/NuocNgoai/Thailand/Royal-grand-palace-in-Bangkok_467000096.jpg"
                                                         style="border-radius: 3px;" alt="Image">
                                                </a>
                                                <div class="media-body info-destination">
                                                    <a href="chi-tiet/311/thanh-pho-nao-don-nhieu-khach-du-lich-nhat-the-gioi.html"
                                                       class="media-heading title-destination">Thành phố nào đón nhiều khách du lịch nhất thế giới?</a>
                                                    <p class="content-destination">
                                                        Theo thông lệ, hàng năm thương hiệu Mastercard lại cung cấp bản danh sách Chỉ số những thành phố điểm đến toàn cầu. Năm nay...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="more">
                                <a href="bai-viet/tin-du-lich.html"
                                   class="btn buttonCustomPrimary">
                                    Xem thêm
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- INQUIRY MODAL -->
        <div class="modal fade bookingModal modalBook" id="inquiryModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Inquiry About Tour</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" id="yourName" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="yourEmail" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn buttonCustomPrimary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      
{% endblock %}
>>>>>>> ffe04318dc9e5ba91a0fc86deb033dc5ad5e6bab
