{% extends  '@MxbBackend/layout.html.twig' %}
{% block classbody %}login{% endblock %}
{% block body %}

    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="../../index.html">
            <img src="{{ asset('bundles/mxbbackend/pages/img/logo.png')}}" alt="" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="" method="post">
            <input type="hidden" id="base_url" value="{{app.request.getBaseURL()}}">
            <h3 class="form-title">Login to your account</h3>
            {% for flashMessage in app.session.flashbag.get('msg') %}

                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span> {{ flashMessage.message }} </span>
                </div>

            {% endfor %}
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'User Name'}}) }}<br>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                  {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}
                  </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                  {{ form_widget(form.confirm, {'attr': {'class': 'form-control', 'placeholder':'Confirm Password'}}) }}
                  </div>
            </div>
            <div class="form-actions">

                <button type="submit" class="btn green pull-right"> Register </button>
            </div>

        </form>

    </div>
    <!-- END LOGIN -->
{% endblock %}
{% block javascripts %}

    {% javascripts
        '@MxbBackendBundle/Resources/public/global/plugins/jquery-validation/js/jquery.validate.min.js'
        '@MxbBackendBundle/Resources/public/global/plugins/backstretch/jquery.backstretch.min.js'
        '@MxbBackendBundle/Resources/public/pages/scripts/login-4.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block stylesheets %}

    {% stylesheets
        'bundles/mxbbackend/pages/css/login-4.min.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
