/* Webfont: Lato-Black */@font-face {
  font-family: 'Lato Black';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Black.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
  font-family: 'Lato Black';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
  font-family: 'Lato Bold';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
  font-family: 'Lato Bold';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
  font-family: 'Lato Hairline';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Hairline.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
  font-family: 'Lato Hairline';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
  font-family: 'Lato Heavy';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
  font-family: 'Lato Heavy';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
  font-family: 'Lato ';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
  font-family: 'Lato Light';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
  font-family: 'Lato Light';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
  font-family: 'Lato Medium';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
  font-family: 'Lato Medium';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato */@font-face {
  font-family: 'Lato';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
  font-family: 'Lato Regular';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
  font-family: 'Lato Semibold';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
  font-family: 'Lato Semibold';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-SemiboldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
  font-family: 'Lato Thin';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
  font-family: 'Lato Thin';
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
  url('http://shop.local/bundles/mxbfrontend/assets/fonts/Lato-ThinItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

