.contactdownload{
                position: fixed;
                top: 50%;
                left: 50%;
                width: 550px;
                height: 450px;
                max-width: 100%;
                overflow-y: auto;
                -webkit-transform:       translate(-50%, -50%);
                -moz-transform:      translate(-50%, -50%);
                -ms-transform:       translate(-50%, -50%);
                -o-transform:        translate(-50%, -50%);
                padding: 15px 15px;
                border: #ccc solid 1px;
                z-index: 9999;
                background-color: #fff;
            }
            .contactdownload .text{
                width: 100%;
                border: #ccc solid 1px;
                padding: 3px 5px;
            }
            .contactdownload .closedownload{
                display: block;
                text-align: right;
                font-weight: bold;
                font-size: 24px;
            }
            .bgdownload{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 8888;
                background-color: rgba(0,0,0,.3);
            }   


            .navigation{
                display: block;
                text-align: center;
                border-top: #EBEBEB solid 1px;
                padding-top: 10px;
            }
            .navigation .page-numbers{
                display: inline-block;
                padding: 3px 10px;
                margin-left: 2px;
                text-align: center;
                text-decoration: none;
                color: #000;
                background-color: #EBEBEB;
            } 
            .navigation .page-numbers:hover,
            .navigation .page-numbers.current{
                color: #000;
                background-color: #FDB813;
            } 

            @media screen and (max-width: 600px){
                .contactdownload{
                    width: 90%;
                }
            }
            @media screen and (max-width: 480px){
                .contactdownload{
                    width: 100%;
                }
            }    

            .link-item{
                margin-bottom: 10px;
            }
            .download-link .icon{
                font-size: 16px;
                color: #FDB813;
                margin-right: 10px;
            }
            .download-link .lock{
                font-size: 12px;
            }
            .contactdownload{
                position: fixed;
                top: 50%;
                left: 50%;
                width: 550px;
                height: 450px;
                max-width: 100%;
                overflow-y: auto;
                -webkit-transform:       translate(-50%, -50%);
                -moz-transform:      translate(-50%, -50%);
                -ms-transform:       translate(-50%, -50%);
                -o-transform:        translate(-50%, -50%);
                padding: 15px 15px;
                border: #ccc solid 1px;
                z-index: 9999;
                background-color: #fff;
            }
            .contactdownload .text{
                width: 100%;
                border: #ccc solid 1px;
                padding: 3px 5px;
            }
            .contactdownload .closedownload{
                display: block;
                text-align: right;
                font-weight: bold;
                font-size: 24px;
            }
            .bgdownload{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 8888;
                background-color: rgba(0,0,0,.3);
            }    

            @media screen and (max-width: 600px){
                .contactdownload{
                    width: 90%;
                }
            }
            @media screen and (max-width: 480px){
                .contactdownload{
                    width: 100%;
                }
            }
            .footer-support{ background-color:#fefefe; color: #000; position: fixed; bottom: 0; left: 0; right: 0; display: block; width: 100%; padding: 15px 0; min-height: 30px; border-top: #ccc solid 1px; text-align: center; z-index: 1000; } .footer-support .inner{ display: table; table-layout: fixed; } .footer-support-icon{ display: table-cell; text-align: center; vertical-align: middle; width: 33.333%; height: 100%; border-right: #ccc solid 1px; padding:0 5px; font-weight: 600; text-transform: uppercase; font-size: 16px; } .footer-support-icon a{ color: #fdbb1b; text-decoration: none; } .footer-support .ico{ background-color: #fdbb1b; color: #fff; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center; border: 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; } .footer-support-icon.last{border-right:none;} @media screen and (max-width:767px) { .footer-support{ background-color: rgba(0, 0, 0, 0.5); text-align: left; padding: 10px 0; border-top: 0; } .footer-support .ico{ width: 36px; height: 36px; line-height: 36px; font-size: 20px; margin-right: 5px; } .footer-support a{color:#fff;} .footer-support .ycbg{ display: inline-block; background-color: #fdbb1b; color: #fff; padding: 0 15px; line-height: 36px; height: 36px; font-size: 16px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; } .footer-support .ico{font-size: 20px;} } 
        