

.payment-method + .method-content .content {
    display: none;
}

.payment-method:checked + .method-content .content {
    display: block;
}

.payment-method + .method-content .title i.fa.fa-chevron-down {
    display: block;
}

.payment-method:checked + .method-content .title i.fa.fa-chevron-down {
    display: none;
}

.payment-method:checked + .method-content .title {
    background: #5cb85c;
    color: white;
}

.payment-method:checked + .method-content .title > h4 {
    color: white;
}

.payment-method:checked + .method-content .title i.fa-check {
    display: inline-block;
}

.method .title i.fa-check {
    top: 15%;
    font-size: 55px;
    display: none;
}

.method .title {
    padding-right: 70px !important;
}

.payment-wrap .methods {
    margin-top: 15px;
}

.methods .method {
    margin: 2px 0;
}
.highlight-text {
    margin-left: 30px;
}
.highlight-text li {
    font-style: italic;
    list-style-type: disc;
}

.method.active .title {
    border: 2px solid #55b776;
}

.method .title label {
    text-transform: uppercase;
    color: #222;
    font-size: 17px;
}

.method .title .description {
    font-size: 13px;
}

.method.active .title i {
    display: none;
}

.method.active .content {
    display: block;
}

.method .submit {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.booking-container .continue-btn {
    padding: 10px 60px 10px 10px;
    overflow: hidden;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #00552b;
    color: #fff;
}

.booking-container .continue-btn:before {
    font-family: "FontAwesome";
    content: "\f178";
    right: 0;
    z-index: 2;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    line-height: 40px;
    font-size: 110%;
    width: 35px;
}

.booking-container .continue-btn:after {
    content: '';
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.booking-container .payment-wrap .title {
    margin-bottom: 25px;
    width: 100%;
}

.country-destination {
    margin-bottom: 30px !important;
}

.thumbnail.citiesContent .caption .media .media-body.info-destination {
    padding: 0 10px !important;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: justify;
}

.thumbnail.citiesContent .caption .media .media-body a.title-destination {
    font-size: 18px;
    text-transform: none !important;
    margin: 10px 0 !important;
    /*font-family: 'Judson', serif;;*/
}

.thumbnail.citiesContent .caption .media .media-body p.content-destination {
    margin-bottom: 0 !important;
}

.bookingDetails h2 {
    font-size: 21px;
}

.tabArea .tab-content .media .media-body .media-heading-title {
    float: none !important;
    color: #222222 !important;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 400;
}

.tabArea .tab-content .media .media-body .media-heading-title:hover {
    color: #ff891e !important;
}

.detailsBtn li span.underline {
    text-decoration: underline;
    font-size: 13px;
}

.detailsBtn li span.underline:hover {
    color: #ff891e;
}

.detailsBtn li {
    padding: 0;
    display: inline-block;
}

.dropdown.searchBox.search {
    display: none;
}

.footer {
    background: #036 !important;
    padding: 0 0 15px 0 !important;
}

.footerContent h5 {
    text-transform: uppercase;
    font-weight: bold;
}

.footer .list-unstyled > li {
    margin-bottom: 5px !important;
}

.footer ul > li > a {
    color: #fff !important;
    font-weight: normal;
    /*font-size: 12px;*/
}

.copyRight {
    background: #fff;
    padding: 10px 0;
}

.copyright-footer .copyright-style {
    text-align: -webkit-center;
}

.notifyjs-corner {
    top: 40% !important;
    right: 45% !important;
}

.blogTitle {
    font-size: 21px;
    /*font-family: 'Noto Serif', serif;*/
}

p {
}

.tabArea .tab-content .media .media-body .media-heading {
    /*font-family: 'Noto Serif', serif;*/
}

.media-heading {
    line-height: 25px;
}

.fancybox-nav {
    height: 70%;
}

.buttonCustomPrimary {
    height: 30px;
    line-height: normal;
    background-color: #ff891e;
    text-transform: uppercase;
    color: #ffffff !important;
    font-size: 15px;
    padding: 0;
    margin-bottom: 5px;
}

.buttonCustomPrimary span {
    line-height: 0px !important;
    background-color: #ff891e;
    text-transform: uppercase;
    color: #ffffff !important;
    font-size: 13px;
}

.packageInfo table th {
    color: #ff891e;
    text-transform: uppercase;
}

.packageInfo .textInfo {
    height: 35px;
    line-height: 35px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 0 10px;
    color: #969696;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    width: 135px;
}

.list-inline .row .textInfo {
    height: 35px;
    line-height: 35px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 10px;
    color: #969696;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    width: 135px;
    text-align: right;
}

.list-inline .textInfo {
    width: 130px;
}

.list-inline label {
    display: none;
}

.list-inline h5 {
    display: none;
}

.list-inline.detailsBtn .buttonCustomPrimary {
    padding: 8px 20px;
    height: 33px;
    margin-top: 2px;
}

.list-inline .row .price {
    color: #ff891e;
}

.menu-login {
    display: none;
}

.list-inline .row .buttonCustomPrimary {
    padding: 8px 20px;
    height: 33px;
    margin-top: 2px;
}

.contactSGT {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    color: #1870A5;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #1870A5;
    font-weight: bold;
}

.singlePackage .packageInfo .dl-horizontal dt {
    font-size: 14px;
    line-height: 17px;
    width: 180px;
}

.tour-detail-title-information {
    text-align: left;
    color: #262a2e;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: bold;
}

.sidebarPage .packagesList .media-body .bookingDetails {
    min-height: 150px;
    padding: 15px;
}

/*-----------------------------TOP HEADER----------------------------------*/

.header .container .navbar-fixed-top {
    margin-top: 40px !important;
}

.pageTitle {
    margin-top: 130px;
}

.top-header {
    background: #353535;
    font-size: 13px;
    height: 40px;
}

.top-header a {
    color: #fff;
    font-size: 13px;
}

.top-header a:hover {
    color: #ff891e;
}

.top-header li a i {
    font-size: 16px;
}

.top-header ul {
    list-style: none;
    padding-left: 0;
    margin-top: -4px;
}

.top-header ul li {
    float: left;
}

.top-header li a {
    display: block;
    margin: 15px;
    padding: 0 5px;
}

.top-header li a.media-link {
    padding: 0 2px;
    margin: 15px 0;
}

.top-header .login-container {
    margin-left: 20px;
    float: right;
    margin-top: -4px;
}

.top-header .login-container li a.login-href {
    border-right: 1px solid #fff;
    margin: 20px 0 20px 0;
    padding: 0 10px;
    line-height: 10px;
}

.top-header .login-container li:last-child a.login-href {
    border-right: none;
}

.phone-login-href {
    display: none;
}

.ticket-hotline {
    font-size: 15px !important;
}

/*---------------------------------------------------*/

.member-wrapper {
    height: 800px;
    position: relative;
}

.member-wrapper .background {
    background-image: url(../images/slide3.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.member-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.member-content .login, .member-content .register {
    width: 770px;
    height: auto;
    margin: 200px auto;
    background: #fff;
    padding: 20px;
}

.member-content .form-content {
    padding-right: 10px;
}

.member-content .form-footer {
    padding-right: 10px;
}

.member-content .register .form-footer {
    padding-top: 25px;
}

.member-content .forgot .msg {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.member-content .forgot .success-msg {
    font-size: 13px;
    line-height: 18px;
}

.social-block {
    border-right: 1px solid #ccc;
    height: 400px;
    margin-top: 20px;
}

.member-content .btn {
    border-radius: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 8px;
}

.member-content .back-link {
    text-decoration: underline;
}

.login h4.title, .register h4.title {
    font-size: 20px;
    margin: 5px 0 15px;
    text-transform: uppercase;
}

.member-content .social-title {
    font-size: 14px;
    margin: 0px 0 15px;
}

.member-content input[type=checkbox] {
    opacity: 0;
    display: none;
    float: left;
    width: 18px;
}

.member-content input[type='checkbox'] + label {
    background: none;
    position: relative;
    margin: 0;
    clear: none;
    padding: 4px 0 3px 24px;
    cursor: pointer;
    font-weight: 300;
    line-height: 18px;
    display: block;
}

.member-content input[type='checkbox'] + label:before {
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #B5B5B5;
    border-radius: 2px;
    position: absolute;
    top: 7px;
    left: 0;
    color: #919191;
    font-weight: normal;
    line-height: 1 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    padding-left: 2px;
    font-size: 13px;
}

.member-content input[type='checkbox']:checked + label:before {
    font-family: "FontAwesome";
    content: "\f14a";
    border: none;
    color: #005294;
}

/*------------------------Profile-------------------------------------*/

.profile {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
}

.user-profile {
    margin-right: 30px;
    padding-bottom: 20px;
}

.user-profile__header {
    background-color: #415973;
    text-align: center;
    color: #fff;
    font-weight: 300;
    position: relative;
    padding: 10px 10px 45px 10px;
    margin-top: 30px;
}

.user-profile__header h4 {
    font-size: 30px;
    margin: 0;
    font-weight: 300;
}

.user-profile__header p {
    max-width: 90px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.user-profile__header p img {
    width: 100%;
}

.user-profile__navigation {
    background-color: #f2f2f2;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 1px;
}

.user-profile__navigation li {
    padding: 0px 10px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.user-profile__navigation li a {
    font-size: 16px;
    color: #333333;
    display: block;
    text-decoration: none;
    padding: 15px 0;
}

.user-profile__navigation li a img {
    margin-right: 10px;
}

.user-profile__navigation li:hover, .user-profile__navigation li.current {
    background-color: #fff;
}

.user-profile__navigation li + li {
    border-top: 1px solid #e3e3e3;
}

.profile-detail .my-profile__title {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 15px;
    color: #111111;
}

.profile-detail ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 5px;
}

.profile-detail ul li {
    position: relative;
    padding-left: 150px;
    padding-top: 15px;
    color: #333333;
}

.profile-detail ul li span {
    position: absolute;
    color: #999999;
    font-weight: 600;
    left: 0;
}

.profile h2 {
    color: #474848;
    font-weight: bold;
}

.profile .btn-green {
    padding: 10px 20px;
    background-color: #00552b;
    color: #fff;
    border: none;
    font-weight: bold;
}

.profile .btn-green:hover {
    background-color: #126d34;
}

.profile .kv-avatar .file-preview-frame, .profile .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.profile .kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
    text-align: center;
}

.profile h3 {
    margin-bottom: 20px;
}

.profile td.seats {
    text-transform: uppercase;
}

.profile td.action a {
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
    background-color: #337ab7;
}

.profile .my-booking .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}

.contact-info {
    font-size: 14px;
    color: #474848;
    margin-top: 30px;
}

.contact-branch {
    color: #000000;
    text-decoration: underline !important;
}

.contact-branch span {
    font-weight: bold;
}

.pax-info .passenger-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.count-down-title {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    border: 2px solid;
    padding: 10px;
    width: 285px;
    color: white;
    background-color: #ff891e;
}

/*--------------------------------Call back-------------------------------*/

.modal-dialog.modal-dialog-call-me-back {
    margin-top: 10%;
}

.modal-dialog.modal-dialog-call-me-back img {
    width: 180px;
    height: 120px;
}

.modal-dialog.modal-dialog-call-me-back .modal-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal-dialog.modal-dialog-call-me-back .modal-content {
    height: 420px;
}

.modal-dialog.modal-dialog-call-me-back .form-group input {
    height: 30px;
    background-color: whitesmoke;
    box-shadow: none;
    border-color: #e5e5e5;
    color: #969696;
    font-family: "Judson", serif;
    font-size: 12px;
}

.call-back-form p.title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

.call-back-form .form-group textarea {
    height: 100px;
}

.call-back-form p.message-success {
    text-align: center;
    color: blue;
}

.call-back-form .modal-footer .buttonCustomPrimary {
    padding: 7px 20px;
}

/*--------------------------------Margin-----------------------------------*/

.mtop-10 {
    margin-top: 10px;
}

.mtop-20 {
    margin-top: 20px;
}

.mtop-40 {
    margin-top: 40px;
}

.mbot-50 {
    margin-bottom: 50px;
}

.mbot-300 {
    margin-bottom: 300px;
}

.mbot-20 {
    margin-bottom: 20px;
}

.mbot-10 {
    margin-bottom: 10px;
}

.mleft-20 {
    margin-left: 20px;
}

.mleft-10 {
    margin-left: 10px;
}

.mleft-50 {
    margin-left: 50px;
}

.mright-20 {
    margin-right: 20px;
}

.mright-10 {
    margin-right: 10px;
}

.table-col-width-10 {
    width: 10%;
}

.table-col-width-15 {
    width: 15%;
}

.table-col-width-20 {
    width: 20%;
}

.table-col-width-30 {
    width: 30%;
}

.table-width-100 {
    width: 100%;
}

.table-col-height-50 {
    height: 50px;
}

.booking-container {
    background: #fff;
    padding-top: 30px;
}

.step-bar {
    counter-reset: step;
    position: relative;
    z-index: 1;
}

.step-bar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.step-bar li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 40px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.step-bar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.step-bar li:first-child:after {
    content: none;
}

.step-bar li.active {
    color: #0c95be;
}

.step-bar li.done {
    color: green;
}

.step-bar li.done:before {
    content: '✓';
}

.step-bar li.active:before {
    border-color: #0c95be;
}

.step-bar li.done:before {
    border-color: #55b776;
}

.step-bar li.done + li:after {
    background-color: #55b776;
}

.segment-info {
    margin-top: 40px;
}

.segment-info .route-name {
    font-size: 24px;
    color: #212121;
}

.segment-info .place-name {
    color: #004618;
    text-transform: uppercase;
}

.segment-info .select-time {
    margin-top: 20px;
    display: inline-block;
}

.segment-info .select-time input {
    display: none;
}

.segment-info .select-time a {
    display: block;
    width: 160px;
    height: 40px;
    background: #fff;
    border: 2px solid #898989;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #212121;
    line-height: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.segment-info .select-time a.active {
    background: #004618;
    border: none;
    color: #fff;
}

.segment-info .segment-detail {
    margin-top: 20px;
}

.segment-detail .detail-item .item-label {
    color: #222222;
    font-size: 14px;
    display: inline-block;
    min-width: 165px;
    font-weight: 400;
    line-height: 25px;
}

.segment-detail .detail-item.small .item-label, .segment-detail .detail-item.small .value {
    font-size: 12px;
}

.segment-detail .detail-item .value {
    color: #222222;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    line-height: 25px;
}

.segment-detail .addition-info {
    margin-top: 15px;
}

.segment-detail .addition-info .selected-seat {
    margin-bottom: 20px;
    color: #004618;
    font-size: 18px;
    font-weight: bold;
}

.segment-detail .addition-info .selected-seat span {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.segment-detail .addition-info .icon {
    font-size: 60px;
    color: #004618;
    float: left;
    line-height: 30px;
}

.segment-detail .addition-info .content {
    overflow: hidden;
}

.segment-detail .addition-info .info-label {
    color: #222222;
    font-weight: bold;
    font-size: 13px;
}

.segment-detail .addition-info .value {
    font-style: italic;
}

.segment-info .segment-separator {
    border-bottom: 1px dashed #ebebeb;
    height: 1px;
    width: 100%;
    margin-top: 15px;
}

.ship-container {
    background-position: 50% 50%;
}

.select-seat-container {
    padding-top: 20px;
}

.select-seat-container .seat-info {
    margin: 0 auto;
    width: 50%;
}

.seat-info .seat-info-item {
    color: #212121;
    font-size: 14px;
    font-weight: 400;
}

.seat-info .seat-info-item img {
    width: 35px;
}

.booking-container .continue-btn {
    padding: 10px 60px 10px 10px;
    overflow: hidden;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #00552b;
    color: #fff;
}

.booking-container .continue-btn:before {
    font-family: "FontAwesome";
    content: "\f178";
    right: 0;
    z-index: 2;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    line-height: 40px;
    font-size: 110%;
    width: 35px;
}

.booking-container .continue-btn:after {
    content: '';
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.booking-container .continue-btn:hover:after {
    width: 40%;
}

.booking-container .passenger-info {
    margin-top: 10px;
}

.booking-container .segment-info.return {
    margin-top: 20px;
}

.passenger-info .header, .contact-info .header {
    font-size: 24px;
    color: #212121;
    margin-top: 15px;
    margin-bottom: 10px;
}

.passenger-info .passenger-block {
    padding-left: 0;
    padding-top: 20px;
    padding-right: 50px;
}

.passenger-info .passenger-block .ticket-price {
    margin-left: 5px;
}

.passenger-info .booking-total {
    padding-top: 15px;
    display: block;
}

.passenger-info .wrapper {
    width: 100%;
    float: left;
    border-top: 1px dashed #ebebeb;
    border-bottom: 1px dashed #ebebeb;
    margin-top: 20px;
    padding-bottom: 25px;
}

.passenger-info .form-group {
    margin: 15px 0 0;
}

.passenger-info .form-group .idk-select {
    max-width: 70px;
    margin-left: 10px !important;
}

.passenger-info .form-group .idk-select li a {
    padding-left: 10px;
}

.passenger-info .form-group label {
    font-weight: normal;
    color: #7b6b6b;
}

input[type='checkbox'].checkbox {
    display: none;
}

input[type='checkbox'].checkbox + label {
    background: none;
    position: relative;
    margin: 0;
    clear: none;
    padding: 4px 0 3px 24px;
    cursor: pointer;
    font-weight: 300;
    line-height: 18px;
    display: block;
}

input[type='checkbox'].checkbox + label:before {
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #B5B5B5;
    border-radius: 2px;
    position: absolute;
    top: 7px;
    left: 0;
    color: #919191;
    font-weight: normal;
    line-height: 1 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    padding-left: 2px;
    font-size: 13px;
}

input[type='checkbox'].checkbox:checked + label:before {
    font-family: "FontAwesome";
    content: "\f14a";
    border: none;
    color: #00552b;
}

.passenger-info .header span, .contact-info .header span {
    color: #004618;
}

.passenger-info .passenger-table {
    width: 100%;
}

.passenger-info .passenger-table th {
    font-weight: normal;
    border: none;
}

.passenger-info .passenger-table td {
    border: none;
}

.passenger-info .passenger-table tr.total-row,
.passenger-info .passenger-table tr.payment-fee-row {
    margin-top: 10px;
}

.passenger-table tr.total-row td.total-value {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #898989;
}

.passenger-info .table > tbody > tr > td, .passenger-info .table > thead > tr > th {
    padding-left: 0;
    padding-right: 10px;
}

.passenger-table .seat-number {
    font-size: 16px;
    color: #004618;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-info .input-wrap {
    padding: 0;
    margin-right: 50px;
    margin-bottom: 10px;
}

/*------------------------------------------Form-----------------------------------------*/

form input, form textarea {
    border: none;
    border-bottom: 1px solid #a1a1a1;
    border-radius: 0;
}

form input:focus, form select:focus, form textarea:focus {
    outline: none;
    border-color: #66afe9;
}

form select {
    border: none;
}

form span.error {
    font-size: 12px;
    color: red;
    display: block;
    margin-top: 2px;
}

form .has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

form .has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

form .has-success .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

form .has-success .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

form div.label-top {
    width: 100%;
    position: relative;
}

form div.label-top input.label-top, form div.label-top textarea.label-top {
    padding: 20px 5px 5px 0;
    width: 100%;
}

form div.label-top select {
    padding: 20px 5px 5px 0;
    height: 45px;
}

form div.label-top input.label-top ~ label, form div.label-top textarea.label-top ~ label {
    position: absolute;
    top: 18px;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    transition: all .2s ease-out;
    color: #7b6b6b;
    pointer-events: none;
}

form div.label-top input.label-top:focus ~ label,
form div.label-top input.label-top:active ~ label,
form div.label-top input.label-top.has-value ~ label,
form div.label-top textarea.label-top:focus ~ label,
form div.label-top textarea.label-top:active ~ label,
form div.label-top textarea.label-top.has-value ~ label {
    font-size: 11px;
    top: 2px;
    position: absolute;
    font-weight: bold;
}

form div.label-top input[type=password].label-top:-webkit-autofill ~ label {
    font-size: 11px;
    top: 2px;
    position: absolute;
    font-weight: bold;
}

form .idk-select .dropdown-menu.open {
    padding: 0;
    border-radius: 0;
    top: 24px;
}

form .idk-select .bs-caret {
    color: #000;
}

form .idk-select .dropdown-menu ul li a {
    padding: 6px 0 6px 15px;
    outline: none !important;
}

form .idk-select {
    background: transparent;
}

form .idk-select .btn {
    padding: 6px 0;
    background-color: transparent !important;
    border: 0;
    border-bottom: solid 1px #a1a1a1 !important;
    line-height: 15px;
    border-radius: 0;
    height: 27px;
    margin-left: 0;
    outline: none !important;
    box-shadow: none !important;
}

form .idk-select .btn:focus {
    outline: none !important;
}

form .label-top .idk-select {
    margin-top: 18px;
}

/*---------------------------------------------------------------------------------------------*/

.booking-container .finish .header-title {
    color: #212121;
    font-size: 23px;
}

.booking-container .finish .header-title span {
    color: #004618;
}

.booking-container .finish .booking-status {
    font-size: 16px;
    color: #212121;
}

.booking-container .finish .booking-status span {
    color: #004618;
    font-weight: bold;
}

.booking-container .finish .notice {
    font-style: italic;
}

.finish .segment {
    margin-top: 10px;
}

.finish .segment .item-row {
    color: #222222;
}

.finish .segment .item-row .item-label {
    font-weight: 400;
    font-size: 14px;
    min-width: 150px;
    display: inline-block;
}

.finish .segment .item-row .value {
    font-weight: bold;
    font-size: 18px;
}

.booking-container .finish .header-title.has-top-border {
    padding-top: 10px;
    border-top: 1px dashed #ebebeb;
}

.finish .booking-contact {
    margin-top: 10px;
}

.finish .booking-contact .item-row {
    color: #222222;
}

.finish .booking-contact .item-row .item-label {
    font-weight: 400;
    font-size: 13px;
    min-width: 150px;
    display: inline-block;
    line-height: 24px;
}

.finish .booking-contact .item-row .value {
    font-weight: bold;
    line-height: 24px;
}

.finish .payment-guide .header-title {
    margin-bottom: 10px;
}

.finish .payment-guide .payment-method {
    margin-left: 50px;
}

.finish .payment-guide p, .finish .payment-guide span {
    line-height: 28px;
}

.finish .payment-guide .payment-method .title {
    color: #004d1b;
    font-weight: bold;
    margin-left: 15px;
}

.finish .payment-guide .bank-info .icon {
    margin-bottom: 20px;
    margin-top: 10px;
}

.finish .payment-guide .bank-info {
    margin-left: 20px;
}

.finish .payment-guide .bank-info .content {
    margin-left: 10px;
}

.error-container {
    background: #fff;
}

.error-wrapper {
    height: 500px;
    padding-top: 12%;
    background-size: cover;
    background-color: #fff;
    background-repeat: no-repeat;
}

.error-wrapper h1 {
    margin: 0;
    font-size: 70px;
}

.ship-container .popover-title {
    background-color: #3b3b42;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.ship-container .popover-content .price {
    font-weight: bold;
    font-size: 16px;
}

.ship-container .popover-content .notice {
    font-style: italic;
    font-size: 13px;
    margin-top: 5px;
}

.payment-wrap {
    margin-top: 30px;
    margin-bottom: 30px;
}

.payment-wrap h3 {
    margin: 0;
}

.payment-wrap h4 {
    color: #222222;
    margin: 15px 0 0;
}

.payment-wrap .note {
    font-style: italic;
    font-size: 13px;
    margin-top: 5px;
}

.payment-wrap .methods {
    margin-top: 15px;
}

.methods .method {
    margin: 2px 0;
}

.method .title {
    padding: 20px;
    background-color: #F3EDED;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
}

.method .title label {
    text-transform: uppercase;
    color: #222222;
    font-size: 17px;
}

.method .title .description {
    font-size: 13px;
}

.method .title i {
    position: absolute;
    right: 10px;
    top: 45%;
}

.method .content {
    font-size: 12px;
    padding-left: 10px;
    display: none;
}

.method .content h2 {
    font-size: 13px;
    font-weight: bold;
}

.method .submit {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.method .submit .payment-fee {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.method .submit .submit-btn {
    background: #00552b;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 35px;
    font-weight: bold;
}

.method.active .title {
    border: 2px solid #55b776
}

.method.active .title i {
    display: none;
}

.method.active .content {
    display: block;
}

.methods .method .select-bank {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.methods .method ._123pay-title {
    margin-bottom: 5px;
}

.subscribed-segment {
    margin-top: 10px;
    font-size: 16px;
}

/*--------------------------------------------Notify------------------------*/

.notifyjs-corner {
    top: 70px !important;
    right: 70px !important;
}

/*-----------------------------------------------------------------------------*/

.feed-back-info {
    margin-top: 140px;
    text-align: center;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen  and (min-width: 1224px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

    .top-header {
        /*display: none;*/
        display: block;
        margin-top: 0;
    }

    .top-header .container .row .col-md-8.no-padding {
        display: none;
    }

    .top-header .login-container {
        margin-top: -4px;
        float: left;
        margin-left: -10px;
    }

    .top-header .login-container li a.login-href {
        margin: 20px 0 20px 0;
        border-right: none !important;
        padding: 0 10px;
        line-height: 10px;
    }

    .pageTitle {
        margin-top: 85px;
    }

    .header .container .navbar-fixed-top {
        /*margin-top: 0px !important;*/
        /*margin-top: 35px !important;*/
    }

    .packageInfo table .buttonCustomPrimary {
        width: 50px;
    }

    .member-wrapper {
        height: 785px;
    }

    .member-content .login, .member-content .register {
        padding: 10px;
        width: 330px;
        height: auto;
        margin-top: 140px;
    }

    .login h4.title, .register h4.title {
        margin: 5px 0 0px;
    }

    .social-block {
        height: 130px;
        margin-top: 20px;
        border: 0;
    }

    .member-content .form-content {
        padding: 0;
    }

    .member-content .form-footer {
        padding: 0;
    }

    .copyright-footer .copyright-style {
        max-width: 767px;
    }

    .modal-dialog.modal-dialog-call-me-back .modal-content {
        width: 300px;
        text-align: center;
        height: 600px;
        left: calc(50% - 150px);
    }

    .call-back-form .form-group textarea {
        height: 50px;
    }

    .list-inline .textInfo {
        width: 118px;
        float: left;
        padding: 0px 5px;
    }

    .tour-detail-title-information {
        display: none;
    }

    .singlePackage .packageInfo .dl-horizontal dt {
        font-size: 14px;
        line-height: 17px;
        width: 120px;
    }

    .list-inline label {
        display: block;
        float: left;
        width: 115px;
        line-height: 35px;
        font-weight: bold;
    }

    .list-inline strong {
        line-height: 35px;
    }

    .list-inline .row .price {
        color: #969696 !important;
    }

    .list-inline h5 {
        font-weight: bold;
        display: block;
        text-align: left;
        color: #ff891e;
        float: left;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .list-inline .row {
        border-bottom: 1px solid;
    }

    .list-inline .row .buttonCustomPrimary {
        padding: 6px 15px;
        height: 30px;
        margin-top: 2px;
    }

    .menu-login {
        display: block;
    }

    .progress-wizard > .progress-wizard-step.complete > .progress > .progress-bar {
        display: none;
    }

    .progress-wizard > .progress-wizard-step.active > .progress > .progress-bar {
        display: none;
    }

    .confirmInfo .dl-horizontal dt {
        width: 100px;
        text-align: left;
        color: #222222;
        font-weight: 400;
        margin-bottom: 5px;
        float: left;
    }

    .map-vietnam ul.region-content > li.region {
        float: left;
        height: 45px;
        width: 90%;
        margin: 15px 0;
    }

    .dropdown.searchBox {
        display: none;
    }

    .dropdown.searchBox.search {
        display: block;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}