.map-vietnam {
    text-align: center;
}

.map-vietnam ul.region-content {
    margin: 0 auto;
    width: 300px;
}

.map-vietnam ul.region-content > li.region {
    float: left;
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

.map-vietnam ul.region-content > li.region > .btn {
    line-height: 45px;
    height: 45px;
    width: 100%;
    padding: 0;
    text-align: center;
}