
<!DOCTYPE html>
<html lang="vi">

    <!-- Mirrored from saigontourist.net/vi/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2017 07:10:39 GMT -->
    <!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <head>
        <!-- SITE TITTLE -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="fb:app_id" content="143161185738230"/>
        <title>halien - Du lich trong nuoc, Du lich nuoc ngoai, Ve may bay, Thue xe du lich, Dat phong khach
            san</title>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="CÔNG TY TNHH MỘT THÀNH VIÊN DỊCH VỤ LỮ HÀNH halien"/>
        <meta property="og:url" content="index.html"/>
        <meta property="og:description"
              content="đặt tour halien"/>
        <meta property="og:image" content="../images/no-image.png"/>
        <link rel="shortcut icon" href="http://saigontourist.net/images/icons/favicon.ico"/>

        {% stylesheets
        'bundles/mxbfrontend/assets/plugins/jquery-ui/jquery-ui.css'
        'bundles/mxbfrontend/assets/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/mxbfrontend/assets/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/mxbfrontend/assets/vendors/bootstrap/dist/css/bootstrap-social.css'
        'bundles/mxbfrontend/assets/vendors/select2/dist/css/select2.css'
        'bundles/mxbfrontend/assets/plugins/rs-plugin/css/settings.css'
        'bundles/mxbfrontend/assets/plugins/selectbox/select_option1.css'
        'bundles/mxbfrontend/assets/plugins/datepicker/datepicker.css'
        'bundles/mxbfrontend/assets/plugins/isotope/jquery.fancybox.css'
        'bundles/mxbfrontend/assets/plugins/isotope/isotope.css'
        'bundles/mxbfrontend/assets/css/font.css'
        'bundles/mxbfrontend/assets/css/style1bce.css'
        'bundles/mxbfrontend/assets/css/colors/default.css'
        
        filter='cssrewrite'
        debug=false
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}


        <!-- GOOGLE FONT -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Maven+Pro:400,500,700,900&amp;subset=latin-ext,vietnamese"
              rel="stylesheet">
        <!-- CUSTOM CSS -->


        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/png" href="{{asset('bundles/mxbfrontend/assets/img/favicon.png')}}"/>
        <style>
            .map-vietnam {
                text-align: center;
            }

            .map-vietnam ul.region-content {
                margin: 0 auto;
                width: 300px;
            }

            .map-vietnam ul.region-content > li.region {
                float: left;
                height: 45px;
                width: 100%;
                margin: 15px 0;
            }

            .map-vietnam ul.region-content > li.region > .btn {
                line-height: 45px;
                height: 45px;
                width: 100%;
                padding: 0;
                text-align: center;
            }
        </style>



        {% stylesheets
       
       
        'bundles/mxbfrontend/css/f6e76a4.css'
        'bundles/mxbfrontend/css/f1d475a.css'
        filter='cssrewrite'
        debug=true
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style>
            .buttonCustomPrimary {
                height: 45px !important;
                line-height: 45px !important;
            }
        </style>


    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1471110112913104&amp;ev=PageView&amp;noscript=1"
                   /></noscript>
    


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class=" changeHeader ">
    <div id="wrap">
     <header id="header" class="header" style="background-color: rgb(255, 255, 255);">
            <div class="container-fruid top-header navbar-fixed-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 no-padding">
                            <ul>
                                <li>
                                    <a href="mailto:info@saigontourist.net">
                                        <i class="fa fa-envelope"></i>
                                        info@saigontourist.net
                                    </a>
                                </li>
                                <li>
                                    <a class="ticket-hotline"
                                       href="tel:1900 1808">
                                        <i class="fa fa-phone"></i>
                                        Hotline: 1900 1808
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul id="w0" class="login-container">
                                <li>
                                    <a href="javascript:void(0)" onclick="javascript:$('#region').modal('show')"
                                       class="login-href">Chọn điểm khởi hành</a>
                                </li>
                                <li>
                                    <a href="login.html" class="login-href">
                                        Đăng nhập
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.etravelvietnam.com/"
                                       class="login-href">English
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-default navbar-main navbar-fixed-top "
                     role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="http://saigontourist.net/"></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown searchBox search">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"><span class="searchIcon"><i
                                                class="fa fa-search" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <form id="searchForm" method="get" role="form"
                                                  action="http://saigontourist.net/tim-kiem-tour">
                                                <span class="input-group">
                                                    <input type="text" name="search" class="form-control"
                                                           placeholder="Tìm kiếm..."
                                                           aria-describedby="basic-addon2">
                                                    <span style="cursor: pointer"
                                                          onclick="javascript:$(this).parents('form').submit()"
                                                          class="input-group-addon" id="basic-addon2">Tìm</span>
                                                </span>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown singleDrop">
                                    <a href="index.html">TRANG CHỦ</a>
                                </li>
                                <li class="dropdown megaDropMenu">
                                    <a href="tour-trong-nuoc.html"
                                       class="dropdown"
                                       data-hover="dropdown" data-delay="300" data-close-others="true"
                                       aria-expanded="false">TOUR TRONG NƯỚC</a>
                                    <ul class="row dropdown-menu">
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Miền Bắc</li>
                                                <li>
                                                    <a href="tour/tour-ha-noi.html">
                                                        Hà Nội
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-ha-long.html">
                                                        Hạ Long
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-sapa.html">
                                                        Sapa
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Miền Trung</li>
                                                <li>
                                                    <a href="tour/tour-phan-thiet.html">
                                                        Phan Thiết
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-nha-trang.html">
                                                        Nha Trang
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-da-lat.html">
                                                        Đà Lạt
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-tay-nguyen.html">
                                                        Tây Nguyên
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-da-nang.html">
                                                        Đà Nẵng - Hội An
                                                    </a></li>
                                                <li>
                                                    <a href="tour/du-lich-quy-nhon.html">
                                                        Tuy Hoà - Quy Nhơn - Quảng Ngãi
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-hue.html">
                                                        Huế
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-my-son.html">
                                                        Mỹ Sơn
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-phan-rang.html">
                                                        Phan Rang
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Miền Nam</li>
                                                <li>
                                                    <a href="tour/tour-phu-quoc.html">
                                                        Phú Quốc
                                                    </a></li>
                                                <li>
                                                    <a href="tour/du-lich-mien-tay.html">
                                                        Miền Tây
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-con-dao.html">
                                                        Côn Đảo
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-ho-chi-minh.html">
                                                        Tp Hồ Chí Minh
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Chùm tour</li>
                                                <li>
                                                    <a href="tour/tour-dong-tay-bac.html">
                                                        Đông Bắc - Tây Bắc
                                                    </a></li>
                                                <li>
                                                    <a href="tour/sai-gon-mien-tay.html">
                                                        Khám phá Sài Gòn &amp; miền Tây
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-tiet-kiem.html">
                                                        Tour tiết kiệm
                                                    </a></li>
                                                <li>
                                                    <a href="tour/uu-dai-online-trong-nuoc.html">
                                                        Ưu đãi mua ONLINE
                                                    </a></li>
                                                <li>
                                                    <a href="tour/chum-tour-nguoi-cao-tuoi.html">
                                                        Tour người cao tuổi
                                                    </a></li>
                                                <li>
                                                    <a href="tour/mua-thu-trong-nuoc.html">
                                                        Tour Mùa Thu
                                                    </a></li>
                                                <li>
                                                    <a href="tour/mua-nuoc-noi.html">
                                                        Mùa nước nổi
                                                    </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown megaDropMenu">
                                    <a href="tour-nuoc-ngoai.html"
                                       class="dropdown"
                                       data-hover="dropdown" data-delay="300" data-close-others="true"
                                       aria-expanded="false">TOUR NƯỚC NGOÀI</a>
                                    <ul class="row dropdown-menu">
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Châu Á</li>
                                                <li>
                                                    <a href="tour/tour-campuchia.html">
                                                        Du lịch Campuchia
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-dai-loan.html">
                                                        Du lịch Đài Loan
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-han-quoc.html">
                                                        Du lịch Hàn Quốc
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-hongkong.html">
                                                        Du lịch HongKong
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-malaysia.html">
                                                        Du lịch Malaysia
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-myanmar.html">
                                                        Du lịch Myanmar
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-nhat-ban.html">
                                                        Du lịch Nhật Bản
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-singapore.html">
                                                        Du lịch Singapore
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-thai-lan.html">
                                                        Du lịch Thái Lan
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-trung-quoc.html">
                                                        Du lịch Trung Quốc
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-dubai.html">
                                                        Tiểu vương quốc Ả Rập
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-brunei.html">
                                                        Du lịch Brunei
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-indonesia.html">
                                                        Du lịch Indonesia
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-maldives.html">
                                                        Du lịch Maldives
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-philippines.html">
                                                        Du lịch Philippines
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Châu Âu</li>
                                                <li>
                                                    <a href="tour/du-lich-anh.html">
                                                        Du lịch Anh
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-chau-au.html">
                                                        Du lịch Châu Âu
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-nga.html">
                                                        Du lịch Nga
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-scotland.html">
                                                        Du lịch Scotland
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-tho-nhi-ky.html">
                                                        Du lịch Thổ Nhĩ Kỳ
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-malta.html">
                                                        Du lịch Malta
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Châu Mỹ - Châu Úc - Châu Phi</li>
                                                <li>
                                                    <a href="tour/tour-canada.html">
                                                        Du lịch Canada
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-uc.html">
                                                        Du lịch Úc
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-my.html">
                                                        Du lịch Mỹ
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-nam-phi.html">
                                                        Du lịch Nam Phi
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-ai-cap.html">
                                                        Du lịch Ai Cập
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-new-zealand.html">
                                                        Du lịch New Zealand
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-cuba.html">
                                                        Du lịch CuBa
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Chùm tour</li>
                                                <li>
                                                    <a href="tour/du-lich-cao-cap.html">
                                                        Du lịch Cao cấp Premium Travel
                                                    </a></li>
                                                <li>
                                                    <a href="tour/du-thuyen-cao-cap.html">
                                                        Du thuyền cao cấp
                                                    </a></li>
                                                <li>
                                                    <a href="tour/uu-dai-online-nuoc-ngoai.html">
                                                        Ưu đãi mua Online
                                                    </a></li>
                                                <li>
                                                    <a href="tour/tour-tiet-kiem-dac-biet.html">
                                                        Tiết kiệm đặc biệt
                                                    </a></li>
                                                <li>
                                                    <a href="tour/uu-dai-goi-wifi-laxgo.html">
                                                        Ưu đãi gói Wifi Laxgo
                                                    </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown singleDrop">
                                    <a href="trang/dich-vu-ve-may-bay.html">VÉ MÁY BAY</a>
                                </li>
                                <li class="dropdown singleDrop">
                                    <a href="trang/dich-vu-thue-xe.html">THUÊ XE</a>
                                </li>
                                <li class="dropdown singleDrop">
                                    <a href="lien-he.html">LIÊN HỆ</a>
                                </li>
                                <li class="dropdown searchBox">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"><span class="searchIcon"><i
                                                class="fa fa-search" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <form id="searchForm" method="get" role="form"
                                                  action="http://saigontourist.net/tim-kiem-tour">
                                                <span class="input-group">
                                                    <input type="text" name="search" class="form-control"
                                                           placeholder="Tìm kiếm..."
                                                           aria-describedby="basic-addon2">
                                                    <span style="cursor: pointer"
                                                          onclick="javascript:$(this).parents('form').submit()"
                                                          class="input-group-addon" id="basic-addon2">Tìm</span>
                                                </span>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    {% block body %}
    {% endblock %}
      <!-- FOOTER -->
        <footer>
            <div class="footer clearfix">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-9 col-xs-12">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="footerContent">
                                        <h5>DỊCH VỤ</h5>

                                        <ul>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/tour-trong-nuoc">Tour trong nước</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/tour-nuoc-ngoai">Tour nước ngo&agrave;i</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/dich-vu-ve-may-bay">V&eacute; m&aacute;y bay</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/dich-vu-thue-xe">Thu&ecirc; xe</a></li>
                                            <li><a href="http://www.saigontourist.net/tuyendung/" target="_blank">Tuyển dụng</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/du-hoc">Du học</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="footerContent">
                                        <h5>TH&Ocirc;NG TIN</h5>

                                        <ul>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/tuyen-diem">Tuyến điểm </a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/tu-van-du-lich">Tư vấn du lịch </a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/bai-viet/tin-saigontourist">Tin Saigontourist </a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/bai-viet/tin-du-lich">Tin du lịch</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="footerContent">
                                        <h5>CHĂM S&Oacute;C KH&Aacute;CH H&Agrave;NG</h5>

                                        <ul>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/the-thanh-vien" target="_blank">T</a><a href="http://saigontourist.net/trang/the-thanh-vien">hẻ th&agrave;nh vi&ecirc;n</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/travel-voucher" target="_blank">Travel Voucher </a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/bao-hiem-du-lich" target="_blank">Bảo hiểm Du lịch</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/y-kien-khach-hang">&Yacute; kiến kh&aacute;ch h&agrave;ng</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/phieu-gop-y">Phiếu g&oacute;p &yacute;</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/chuong-trinh-thap-sang-niem-tin" target="_blank">Chương tr&igrave;nh<br />
                                                    Thắp s&aacute;ng Niềm Tin</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="footerContent">
                                        <h5>LI&Ecirc;N HỆ</h5>

                                        <ul>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/gioi-thieu-saigontourist">Giới thiệu Saigontourist</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/lien-he">Li&ecirc;n hệ Saigontourist</a>&nbsp;</li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/chi-nhanh">Chi nh&aacute;nh Saigontourist</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/quy-dinh-bao-ve">Quy định bảo vệ </a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/dieu-khoan-chung">Điều khoản chung </a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/quy-dinh-thanh-toan">Quy định thanh to&aacute;n</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/chinh-sach-giao-nhan">Ch&iacute;nh s&aacute;ch giao nhận</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/chinh-sach-huy-phat">Ch&iacute;nh s&aacute;ch hủy phạt</a></li>
                                            <li><a class="link-level4-light" href="http://saigontourist.net/trang/chinh-sach-bao-mat">Ch&iacute;nh s&aacute;ch bảo mật</a></li>
                                            <li><a class="link-level4-light" href="http://www.saigontourist.net/tuyendung/" target="_blank">Tuyển dụng</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="footerContent">
                                <form action="http://saigontourist.net/dang-ky-khuyen-mai" method="POST" id="form-recive-email" role="form"
                                      class="form">
                                    <h5>Đăng ký nhận thông tin</h5>
                                    <div class="input-group" style="width: 100%">
                                        <input type="text" name="name" class="form-control" placeholder="Enter your name"
                                               style="width: 100%">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" name="email" class="form-control" placeholder="Enter your email"
                                               aria-describedby="basic-addon21">
                                        <span id="submit-recive" style="cursor: pointer" class="input-group-addon"
                                              id="basic-addon21"><i class="fa fa-long-arrow-right"
                                                              aria-hidden="true"></i></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-footer clearfix">
                <div class="col-sm-12 col-xs-12 copyright-style">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td><img alt="" src="{{ asset('uploads/thequocte.gif') }}" style="width: 90%;" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="5" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>Bản quyền 2006 - 2017 &copy; C&ocirc;ng ty TNHH Một Th&agrave;nh Vi&ecirc;n Dịch vụ Lữ h&agrave;nh Saigontourist. 45 L&ecirc; Th&aacute;nh T&ocirc;n, Quận 1, TPHCM.</p>

                                                    <p>ĐT:&nbsp;<span dir="ltr"><span dir="ltr"> (84-28) 38 279 279&nbsp;</span></span>- Fax: (84-28) 38 224 987.&nbsp;<br />
                                                        Số đăng k&yacute; kinh doanh: 0310891532 do Sở kế hoạch v&agrave; đầu tư TPHCM cấp lần đầu ng&agrave;y 01.06.2011. Người đại diện: &Ocirc;ng V&otilde; Anh T&agrave;i</p>

                                                    <p>&reg; Ghi r&otilde; nguồn &quot;<strong>SAIGONTOURIST.NET</strong>&quot; khi sử dụng lại th&ocirc;ng tin từ website n&agrave;y.&nbsp;</p>

                                                    <p>&nbsp;</p>

                                                    <h3>Tư vấn &amp; đặt dịch vụ: 1900 1808</h3>

                                                    <p>&nbsp;</p>

                                                    <p>Website <strong>SAIGONTOURIST.NET</strong> đ&atilde; <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=5524" target="_blank">được đăng k&yacute;</a> với Bộ C&ocirc;ng Thương</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img alt="" src="{{ asset('uploads/logo-danhhieu.gif') }}" style="width: 90%;" /></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellpadding="2" cellspacing="2">
                                                        <tbody>
                                                            <tr>
                                                                <td>Kết nối với Lữ h&agrave;nh Saigontourist</td>
                                                                <td><a href="https://www.facebook.com/saigontourist.sts" target="_blank"><img alt="Saigontourist" src="{{ asset('uploads/social-fa.gif') }}" style="height:50px; width:50px" /></a></td>
                                                                <td><a href="https://plus.google.com/u/0/117807970099683633362/posts" target="_blank"><img alt="Google+ Saigontourist" src="{{ asset('uploads/social-google-plus3.gif') }}" style="height:50px; width:50px" /></a></td>
                                                                <td><a href="http://www.twitter.com/luhanhsts/" target="_blank"><img alt="Twitter Saigontourist" src="{{ asset('uploads/social-twitter.gif') }}" style="height:50px; width:50px" /></a></td>
                                                                <td><a href="https://www.youtube.com/channel/UCv1hv7IMijIGwxgGeb8sTRg" target="_blank"><img alt="Youtube" src="{{ asset('uploads/social-youtube.gif') }}" style="height:50px; width:50px" /></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="copyRight clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="copyRightText">
                                <p style="text-align: right">Copyright © 2017. All Rights Reserved by <a target="_blank"
                                                                                                         href="http://idtek.com.vn//">IDTEK</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
    </div>
    {% javascripts
        '@MxbFrontendBundle/Resources/public/js/jquery.min.js'
        '@MxbFrontendBundle/Resources/public/assets/plugins/jquery-ui/jquery-ui.js'
        '@MxbFrontendBundle/Resources/public/assets/plugins/bootstrap/js/bootstrap.min.js'
        debug=false
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
        '@MxbFrontendBundle/Resources/public/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js'
        
         
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
        {% javascripts
        '@MxbFrontendBundle/Resources/public/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js'
        
     
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}   
    {% javascripts    
        '@MxbFrontendBundle/Resources/public/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js'
        '@MxbFrontendBundle/Resources/public/assets/vendors/select2/dist/js/select2.full.js' 
        '@MxbFrontendBundle/Resources/public/assets/plugins/datepicker/bootstrap-datepicker.js' 
        '@MxbFrontendBundle/Resources/public/js/waypoints.min.js'
        '@MxbFrontendBundle/Resources/public/assets/plugins/counter-up/jquery.counterup.min.js'
        '@MxbFrontendBundle/Resources/public/assets/plugins/isotope/isotope.min.js'
        '@MxbFrontendBundle/Resources/public/assets/vendors/notifyjs/dist/notify.js'
        '@MxbFrontendBundle/Resources/public/assets/plugins/isotope/jquery.fancybox.pack.js'
        '@MxbFrontendBundle/Resources/public/assets/plugins/isotope/isotope-triger.js'
        '@MxbFrontendBundle/Resources/public/assets/plugins/countdown/jquery.syotimer.js' 
        '@MxbFrontendBundle/Resources/public/assets/plugins/smoothscroll/SmoothScroll.js' 
        '@MxbFrontendBundle/Resources/public/assets/js/custom.js' 
        '@MxbFrontendBundle/Resources/public/assets/vendors/jquery-form-validator/form-validator/jquery.form-validator.min.js' 
        '@MxbFrontendBundle/Resources/public/js/b9d3555.js' 
        '@MxbFrontendBundle/Resources/public/js/dashboard/index.js' 
        debug= false
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
   
    
</body>

<!-- Mirrored from saigontourist.net/vi/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2017 07:21:00 GMT -->
</html>