{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
         

            <div id="next">
                <h2>What's next?</h2>
               <a href="{{url}}">Log in with Facebook!</a>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}
